:host {
  display: flex;
  flex: 1;
  height: auto;
  overflow-y: scroll!important;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 40px 30px 0 40px;
}

.table__container {
  display: flex;
  height: auto;
  margin: 40px 0;
  padding: 0;
  border: 1px solid var(--light-border);
  border-radius: var(--radius-md);
  background: var(--background);
}

.table__passwords {
  margin: 0!important;
  padding: 0!important;
  cursor: pointer;
}

.table__passwords fa-icon{
  font-size: 1.3em!important;
}

.table__passwords .mat-mdc-header-row {
  padding: 0 90px;
  background: var(--active-background2);
  height: 40px;
}

.table__passwords tr {
  padding: 0 30px;
}

.table__passwords tr mat-icon {
  color: var(--dimmed)!important;
}

.table__passwords__mat-cell {
  display: flex;
  align-items: center;
  fa-icon {
    width: 45px;
    color: var(--dimmed)!important;
  }
}

.toggleShowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent!important;
  outline: none!important;
  box-shadow: none!important;
  border: none;
  cursor: pointer;
  margin: 0 0 5px auto !important;
}

.table_passphrase mat-icon{
  font-size: 1.3em !important;
}

.copyPasswordButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent!important;
  outline: none!important;
  box-shadow: none!important;
  border: none;
  cursor: pointer;
  margin: 0 0 5px 25px !important;
}

.copyPasswordButton mat-icon {
  background: transparent!important;
  color: var(--dimmed) !important;
  font-size: 1.2em!important;
}

.copyPasswordButton, .copyUserButton {
  position: relative;
}

.copyPasswordButton:before, .copyUserButton:before {
  position: absolute;
  top: -7px; // -60px;
  right: 28px; // -31px;
  padding: 9px 20px;
  background: var(--font-color);
  color: var(--background-soft);
  font-weight: bold;
  border-radius: var(--radius-sm);
  content: "Copiado!";
  font-size: 0.9em;
  display: none;
  z-index: 1;
}

.copyPasswordButton:after, .copyUserButton:after {
  content: "";
  position: absolute;
  top: 4px; //-31px;
  right: 25px; //8px;
  padding: 5px;
  background: var(--font-color);
  transform: rotate(45deg);
  display: none;
  z-index: 0;
}

.copyPasswordButton.active:before, .copyPasswordButton.active:after, .copyUserButton.active:before, .copyUserButton.active:after {
  display: block;
}

.container th, .container td {
  padding: 2px 30px;
  border-bottom: 1px solid var(--active-background2);
  color: var(--dimmed);
}

.table__passwords__span {
  padding: 6px;
  margin-right: 8px;
  background: var(--active-background3);
  border-radius: var(--radius-sm);
  font-size: 0.85em;
}

.table__passwords tr:hover {
  transition: all 0.25s linear;
  background: var(--active-background3);
}

.table__passwords tr:hover mat-icon {
  transition: all 0.25s linear;
  color: var(--font-color)!important;
}

.table__passwords tr:hover fa-icon {
  transition: all 0.25s linear;
  color: var(--font-color)!important;
}

.table__passwords tr:hover td {
  transition: all 0.25s linear;
  color: var(--font-color);
}

.table__passwords tr:hover .hidden {
  visibility: visible;
}

.table__passwords tr:hover .table__passwords__span {
  transition: all 0.25s linear;
  background: var(--accent2);
  // color: var(--background);
}

.mat-column-favorite {
  padding: 2px 0 2px 15px !important;
  width: 50px;
}

.mat-column-application {
  padding: 2px 30px 0 0 !important;
}

.first {
  display: flex;
  width: 21px;
  align-items: center;
}

.last-column {
  z-index: 1;
  justify-content: flex-end;
}

.mat-column-actions {
  padding-right: 15px!important;
}

.delete-icon {
  margin-left: 8px!important;
}

.last-column__icon {
  transform: scale(0.8);
  display: none;
}

th.mat-column-actions {
  justify-content: flex-end;
  width: 20px!important;
}

.container__title span {
  font-size: 0.6em;
  color: var(--dimmed);
}

.selected:hover{
  border-radius: var(--radius-lg) !important;
  background: var(--active-background3)!important;
  transition: 0.35s all linear!important;
}

.sortBy__menu2 {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
  top: 50%;
  left: 50%;
  width: 128px;
  padding: 6px 6px;
  background: var(--background);
  color: var(--font-color);
  border: 1px solid var(--lighter-border);
  border-radius: var(--radius-md);
  z-index: 100000000;
}


.sortBy__menu__item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  background: transparent;
  color: var(--dimmed);
  font-size: 0.8em;
  border-radius: var(--radius-sm);
  border: none;
  outline: none;
  transition: 0.25s all linear;
}

.sortBy__menu__item mat-icon {
  margin-top: -1px!important;
  transition: 0.25s all linear;
  color: var(--primary)!important;
  font-size: 1.2em!important;
}

.sortBy__menu__item:hover {
  background: var(--active-background3);
  color: var(--font-color);
}

.blank{
  margin-top: 30px;
  height: 1px;
  background: transparent;
  color: transparent;
}

.hidden {
  visibility: hidden;
}