<section class="container" *ngIf="passwords$ | async as passwords">

  <app-passwords-header />

  <section class="table__container">
    <table mat-table class='table__passwords' [dataSource]="passwords$">
      <ng-container matColumnDef="favorite">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="first" >
            <mat-icon [style.font-size]="'1.5em !important'">{{element.favorite ? 'star' : 'star_outline'}}</mat-icon>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="application">
        <th mat-header-cell *matHeaderCellDef>Aplicação</th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/passwords/', element.id]">
            <div class="table__passwords__mat-cell">
              <fa-icon [icon]="this.fontAwesomeService.findClosestIcon(element.application)"></fa-icon>
              <span>{{element.application}}</span>
            </div>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Usuário</th>
        <td mat-cell *matCellDef="let element">
          <div class="table__passwords__mat-cell table_passphrase">
            <span>{{element.username}}</span>
            <button class='toggleShowButton copyUserButton hidden' (click)='copyPassword(copyUserButton, element.username)' title="copy username" #copyUserButton>
              <mat-icon class="material-icons-outlined">contact_page</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="passphrase">
        <th mat-header-cell *matHeaderCellDef>Senha</th>
        <td mat-cell *matCellDef="let element" [style.width]="'20%'">
          <div class="table__passwords__mat-cell table_passphrase">
            <span #passphrase>{{"*".repeat(element.passphrase.length)}}</span>
            <button class='toggleShowButton hidden' (click)="togglePasswordVisibility(passphrase, element.passphrase)" title="visibility">
              <mat-icon>visibility</mat-icon>
            </button>
            <button class='copyPasswordButton hidden' (click)='copyPassword(copyPasswordButton, element.passphrase)' title="copy password" #copyPasswordButton>
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef>Tags</th>
        <td mat-cell *matCellDef="let element">
          <span class="table__passwords__span" *ngFor="let tag of element.tags">
            {{tag}}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"
            (click)="expandActions('.sortBy__menu2', actions._elementRef.nativeElement, element.id)">

            <div class="table__passwords__mat-cell last-column">
                <mat-icon [style.font-size]="'1.5em !important'" class="last-column__icon-more delete-icon"  #actions>more_vert</mat-icon>
            </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </section>

  <div class="sortBy__menu2">
    <button class="sortBy__menu__item">
      Editar
    </button>
    <button class="sortBy__menu__item" (click)="deletePassword(passwordId)">
      Deletar
    </button>
  </div>

  <div class="blank">-</div>

</section>