<form class="formGroup">
  <h1 class="welcome">Crie uma nova conta</h1>

  <h2 class="subtitle">
    preencha o formulário para criar a sua nova conta
  </h2>

  <label for="name">Nome</label>
  <input #name id="name" placeholder='digite seu nome'>

  <div class='user-password'>
    <div class='user'>
      <label for="username">Usuário</label>
      <input #username id="username" placeholder='digite seu usuário'>
    </div>

    <div class='password'>
      <label for="password">Senha</label>
      <input type='password' #password id="password" placeholder='min 8 caracteres'>
      <h1 class="passwordTip">Crie uma senha forte</h1>
    </div>
  </div>


  <button type='submit' class="formGroup-button" (click)="register(name.value, username.value, password.value)">Registrar</button>

  <div class="switchForm">
    <h1 class="switchForm-title">Possui uma conta?</h1>
    <a class="switchForm-button" routerLink='/login'> Login</a>
  </div>
</form>
