@import "../../login/form/login-form.component";

.user-password {
  display: flex;
  flex-direction: row;
  margin-top: 29px;
}
.user-password input {
  color: $lightText;
  margin-top: 10px;
}
//:host {
//  display: flex;
//  flex-direction: column;
//  // justify-passwords-list: space-between;
//  // padding: 0 4% 0 4%;
//  width: 53%;
//  height: 100%;
//}
//
//:host {
//  display: flex;
//  align-self: center;
//  width: 65%;
//  margin-top: 12%;
//  //padding-top: 5%;
//}
//
//.welcome {
//  font-size: 1.4em;
//  font-weight: bold;
//}
//
//.subtitle {
//  margin-top: 10px;
//  font-size: 0.8em;
//  padding-bottom: 15%;
//  margin-bottom: 10%;
//  width: 100%;
//  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
//  font-weight: normal;
//}
//
//.formGroup {
//  display: flex;
//  flex-direction: column;
//  flex:1;
//}
//
//.formGroup Label {
//  margin-bottom: 10px;
//  margin-top: 20px;
//  font-size: 0.9em;
//  // opacity: 0.5;
//}
//
//:host input {
//  border-radius: 25px;
//  height: 40px;
//  background: rgb(47, 47, 53);
//  color: rgb(240,240,240);
//  text-indent: 13px;
//  border: 1px solid rgb(47, 47, 53);
//}
//
//input::placeholder {
//  font-size: 0.8em;
//}
//
//:host input:focus {
//  outline: 4px solid rgba(60, 59, 255, 0.1);
//  border: 1px solid rgba(60, 59, 255, 0.4);
//}
//
//input::-ms-reveal {
//  filter: invert(100%);
//  margin-right: 10px;
//}
//
//.passwordTip {
//  width: 100%;
//  text-align: right;
//  margin-top: 15px;
//  font-size: 0.8em;
//  // opacity: 0.5;
//  font-weight: normal;
//  color: rgb(27, 117, 218)
//}
//
//.formGroup-button {
//  margin-top: 12%;
//  border-radius: 25px;
//  height: 40px;
//  background: rgb(27, 117, 218);
//  color: white;
//  border: none;
//  font-weight: normal;
//}
//
//.switchForm {
//  margin-top: 30px;
//  margin-bottom: 0%;
//  display: flex;
//  align-items: center;
//
//}
//
//.switchForm h1 {
//  font-size: 0.9em;
//  // opacity: 0.5;
//  font-weight: normal;
//}
//
//.switchForm a {
//  margin-left: 4px;
//  margin-bottom: -2px;
//  background: none;
//  border: none;
//  color: rgb(27, 117, 218);
//  font-weight: normal;
//}