@import "../../login/form/login-form.component";

.user-password {
  display: flex;
  flex-direction: row;
  margin-top: 29px;
}
.user-password input {
  color: var(--font-color);
  margin-top: 10px;
}