<div class='container'>
  <div class='close'>
    <button class='closeBtn' mat-button (click)='toggleNewPasswordForm()'>
      <mat-icon>close</mat-icon>
      <span>Fechar</span>
    </button>
  </div>

  <div class='application'>
    <mat-icon>vpn_key</mat-icon>
    <div>
      <span>Aplicação</span>
      <input #application placeholder='digite o nome da aplicação'>
    </div>
<!--    <mat-icon>star_outline</mat-icon>-->
  </div>

  <div class='details username'>
    <span>Usuário</span>
    <input #username placeholder='digite o nome do usuário'>
  </div>

  <div class='details password focused'>
    <div>
      <span>Senha</span>
      <input #password type='password' placeholder='digite a senha'>
    </div>
    <div>
      <button class='toggleShowButton' (click)='toggleShowPassword()'><mat-icon>visibility</mat-icon></button>
    </div>

  </div>

  <div class='details website'>
    <span>Website</span>
    <input #website placeholder='digite a url do website'>
  </div>

  <div class='details tags'>
    <span>Tags</span>
    <mat-chip-grid #chipGrid aria-label="Digite uma tag">
      <mat-chip-row
        *ngFor="let tag of tags">
        <button class='selectBtn' mat-button [attr.aria-label]="'remove ' + tag" (click)='removeTag(tag)'>
          <mat-icon>close</mat-icon>
        </button>
        <span>{{tag}}</span>
      </mat-chip-row>
            <input placeholder="Digite a nova tag e pressione enter..."
                   [matChipInputFor]="chipGrid"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="add($event)"
            />
    </mat-chip-grid>
  </div>

  <div class='details notes'>
    <span>Notas Adicionais</span>
    <input #notes type='text' placeholder='digite alguma nota, observação ou comentário sobre a senha cadastrada'>
  </div>

  <button type='submit' class='createBtn' mat-button (click)='createPassword(application.value, username.value, password.value, website.value, tags, notes.value)'>
    <mat-icon>done</mat-icon>
    <span>Criar</span>
  </button>
</div>