:host {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  background: rgba(20,20,20, 0.95);
  z-index: 100;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 85%;
  padding: 2% 3% 2% 3%;
  background: var(--black);
  border-radius: 10px;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto!important;
  font-size: 0.8em;
  padding: 0 4px 0 4px;
  border: 1px solid var(--lighter-border)!important;
  border-radius: var(--radius-sm);
  transition: 0.1s all linear;
}

.close mat-icon {
  font-size: 1.2em!important;
}

.close span, h3 {
  color: var(--white);
  padding: 0;
  margin: 0;
  display: none;
}

.application {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--lighter-border);
  margin-top: 30px;
}

.application mat-icon:first-child {
  font-size: 1.3em!important;
  padding: 20px!important;
  background: var(--active-background);
  border: 1px solid var(--lighter-border);
  border-radius: 10px;
}

.application div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 0 0 25px;
}

.application div span {
  font-size: 1em;
  color: var(--dimmed);
  font-weight: normal;
}

.application div h3 {
  margin-top: 5px;
  font-size: 1.5em;
  background: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  text-indent: 0;
}

.application mat-icon:nth-child(3) {
  color: yellow!important;
  margin-left: auto!important;
  font-size: 1.5em!important;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  margin-top: 10px;
}

.details:nth-child(1) {
  margin-top: 40px;
}

.focused {
  background: var(--active-background);
  border: 1px solid var(--lighter-border)!important;
  border-radius: 20px;
}

.details span {
  font-size: 1em;
  color: var(--dimmed);
  font-weight: 500;
}

.details h3 {
  margin-top: 12px;
  font-size: 1.2em;
  font-weight: 500;
}

input {
  background: transparent;
  margin-top: 12px;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--white);
  font-weight: 500;
}

input::placeholder {
  color: var(--white);
}

.password {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.password div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password div:nth-child(2) button mat-icon {
  font-size: 1.6em!important;
  color: var(--dimmed)!important;
}

.password div:nth-child(2) button:nth-child(2) mat-icon {
  margin-left: 18px!important;
}

.toggleShowButton, .copyPasswordButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent!important;
  outline: none!important;
  box-shadow: none!important;
  border: none;
}

.password div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.tags {
  border-top: 1px solid var(--lighter-border);
  padding: 30px 20px 20px 20px;
  transition: all 1s linear;
}

.tags mat-chip-grid {
  margin-top: 20px;
}

.tags mat-chip-row {
  padding: 10px 0 10px 0;
  margin: 0 0 0 12px;
  background: transparent;
  border: 1px solid var(--lighter-border);
  border-radius: 100px;
  font-size: 0.8em;
  color: var(--white);
  transition: all 0.3s linear;
}

.selectBtn {
  all: unset;
  height: 100%;
  margin-right: 5px;
}

.tags mat-chip-row mat-icon {
  padding: 0!important;
  margin: 2px 0 0 0!important;
  // background: red!important;
}

.tags mat-chip-grid input {
  font-size: 0.9em;
  margin: 0 0 1px 12px;
}


.notes {
  padding-top: 40px;
  border-top: 1px solid var(--lighBorder);
}

.create {
  opacity: 1;
}

.createBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 25px!important;
  transition: all 0.3s linear;
  flex: 1;
  font-size: 0.8em;
  border-radius: var(--radius-sm);
  background: var(--active-background2);
  border: 1px solid var(--active-border)!important;
}

.createBtn mat-icon {
  font-size: 1.7em!important;
  color: white!important;
  margin-right: 6px!important;
  display: none;
}

.createBtn span {
  font-size: 1.1em!important;
  font-weight: bold;
  color: var(--white)!important;
  padding: 0;
  margin: 0;
}