@import 'theme.scss';

:host {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 101.3%;
  margin: -1.3% 0 0 0;
  background: rgba(20,20,20, 0.95);
  z-index: 100;
}

.container {
  // margin: 2% 15% 0 15%;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 75%;
  padding: 2% 3% 2% 3%;
  background: $darkestBg;
  border-radius: 10px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto!important;
  // margin-right: auto!important;
  font-size: 0.8em;
  padding: 0 4px 0 4px;
  background: $darkestContext;
  border-radius: 6px;
}

.buttonDiv mat-icon {
  font-size: 1.25em!important;
  margin-right: 6px!important;
}

.buttonDiv span, h3 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.close {
  // background: $darkText;
}

.createPassword {
  margin-top: 5%;
  margin-bottom: 5%;
  // margin-right: auto!important;
  background: $accent;
}

.application {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid $lightBorder;
  margin-top: 40px;
  // background: red;
}

.application mat-icon:first-child {
  font-size: 1.3em!important;
  padding: 20px!important;
  background: $darkestContext;
  border-radius: 10px;
}

.application div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background: blue;
  margin: 0 0 0 25px;
}

.application div span {
  font-size: 0.95em;
  color: $lightText;
  font-weight: 500;
}

.application div h3 {
  margin-top: 5px;
  font-size: 1.5em;
}

.application mat-icon:nth-child(3) {
  color: yellow!important;
  margin-left: auto!important;
  font-size: 1.5em!important;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
}

.details:nth-child(1) {
  margin-top: 40px;
}

.focused {
  background: $darkestContext;
  border-radius: 10px;
}

input {
  background: transparent;
  margin-top: 12px;
  border: none;
  outline: none;
  font-size: 1em;
  color: $lightText;
  font-weight: 500;
}

.details span {
  font-size: 0.95em;
  color: $lightText;
  font-weight: 500;
}

.details h3 {
  margin-top: 12px;
  font-size: 1.2em;
  font-weight: 500;
}

.password {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.password div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password div:nth-child(2) button mat-icon {
  font-size: 1.6em!important;
}

.password div:nth-child(2) button:nth-child(2) mat-icon {
  margin-left: 18px!important;
}

.toggleShowButton, .copyPasswordButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent!important;
  outline: none!important;
  box-shadow: none!important;
  border: none;
}

.password div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.notes {
  padding-top: 40px;
  border-top: 1px solid $lightBorder;
}