<section class='container' *ngIf='password$ | async as password'>

  <mat-toolbar class="password__header">
    <div class="password__header__left">
      <a routerLink="/passwords">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <h1 class="password__header__title">{{password.application}}</h1>
    </div>

    <div class="password__header__right">
<!--      <button class="password__cancel" type="reset">-->
<!--        <span>Cancelar</span>-->
<!--      </button>-->
      <button class="password__save" type="submit" (click)='updatePassword(
        password,
        application.value,
        username.value,
        passphrase.value === "*******" ? password.passphrase : passphrase.value,
        website.value,
        temporaryTags,
        favorite,
        notes.value
      )'
      >
        <span>Salvar</span>
      </button>
    </div>
  </mat-toolbar>

  <section class="content">
    <section class="password-details">
      <div class='application'>
        <mat-icon>vpn_key</mat-icon>
        <div>
          <span>Aplicação</span>
          <input [disabled]='lock' type='text' [value]='password.application' #application >
        </div>
        <button [disabled]='lock' mat-button (click)='toggleFavorite()'>
          <mat-icon *ngIf='!favorite'>star_outline</mat-icon>
          <mat-icon *ngIf='favorite'>star</mat-icon>
        </button>
      </div>

      <div class='details username'>
        <span>Usuário</span>
        <input [disabled]='lock' type='text' [value]='password.username' #username>
      </div>

      <div class='details password focused'>
        <div>
          <span>Senha</span>
          <input [disabled]='lock' type='text' [value]='isPasswordVisible ? password.passphrase : "*".repeat(password.passphrase.length)' #passphrase>
        </div>
        <div>
          <button class='toggleShowButton' (click)='toggleShow()' title="Title"><mat-icon>visibility</mat-icon></button>
          <button class='copyPasswordButton' (click)='copyPassword(copyPasswordButton)' title="Title" #copyPasswordButton><mat-icon>content_copy</mat-icon></button>
        </div>
      </div>

      <div class='details website'>
        <span>Website</span>
        <input [disabled]='lock' type='text' [value]='password.website' #website>
      </div>

      <div class='details tags'>
        <span>Tags</span>
        <mat-chip-grid #chipGrid aria-label="Digite uma tag">
          <mat-chip-row
            *ngFor="let tag of temporaryTags">
            <button class='selectBtn' mat-button *ngIf='!lock' [attr.aria-label]="'remove ' + tag" (click)='removeTag(tag)'>
              <mat-icon>close</mat-icon>
            </button>
            <span>{{tag}}</span>
          </mat-chip-row>
          <input *ngIf='!lock' placeholder="Digite a nova tag e pressione enter..."
                 [matChipInputFor]="chipGrid"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-grid>
      </div>

      <div class='details notes'>
        <span>Notas Adicionais</span>
        <textarea [disabled]='lock' [value]='password.notes' rows='3' #notes></textarea>
      </div>

    </section>
    <section class="locker">
      <div class="lock-container">
        <div>
          <h1>{{lock? "Senha protegida" : "Senha desprotegida"}}</h1>
          <p>{{lock ? "Para editar ou deletar essa senha, desbloqueie-a." : "Atenção, senha desbloqueada para edição ou deleção!"}}</p>
        </div>
        <button (click)="toggleLock()">
          <mat-icon [style.color]="!lock ? 'var(--dimmed) !important' : 'var(--primary) !important' ">{{lock ? 'toggle_on' : 'toggle_off'}}</mat-icon>
        </button>

      </div>
    </section>
  </section>

</section>


