<section class='container' *ngIf="!isLoading && (password$ | async) as password; else loading">
  <mat-toolbar class="password__header">
    <div class="password__header__left">
      <a routerLink="/passwords">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <h1 class="password__header__title">{{ password.application }}</h1>
    </div>

    <div class="password__header__right">
      <button class="password__save-edit edit" *ngIf="lock" (click)="toggleLock()">Editar</button>
      <button class="password__save-edit submit" form="passwordForm" type="submit" [disabled]="passwordForm.invalid"
              (click)="updateOrSavePassword()" *ngIf="!lock">
        <span>Salvar</span>
      </button>
    </div>
  </mat-toolbar>

  <section class="content">
    <form id="passwordForm" class="password-details" [formGroup]="passwordForm">
      <div class='application'>
        <fa-icon *ngIf="routePasswordId!=='Criar senha'"
                 [icon]="this.fontAwesomeService.findClosestIcon(password.application)"></fa-icon>
        <mat-icon *ngIf="routePasswordId==='Criar senha'" class="material-icons-outlined">add_moderator</mat-icon>
        <div>
          <span>Aplicação</span>
          <input type='text'
                 [placeholder]='password.application === "Criar senha" ? "* Digite o nome da aplicação" : password.application'
                 formControlName="application"
          >
        </div>
        <button mat-button (click)='toggleFavorite()'>
          <mat-icon *ngIf='!favorite'>star_outline</mat-icon>
          <mat-icon *ngIf='favorite'>star</mat-icon>
        </button>
      </div>

      <div class='details username'>
        <span>Usuário</span>
        <input type='text'
               [placeholder]='password.application === "Criar senha" ? "* Digite o nome do usuário" : password.username'
               formControlName="username">
      </div>

      <div class='details password focused'>
        <div>
          <span>Senha</span>
          <input type='text'
                 [placeholder]='password.application === "Criar senha" ? "* Digite a senha" : "*".repeat(8)'
                 formControlName="passphrase"
                 #passphraseInput
          >
          <span class="validator"
                *ngIf="passphrase?.invalid && (passphrase?.dirty || passphrase?.touched)">A senha precisa ter no mínimo 8 caracteres, e ao menos 1 desses: caractere especial, número, letra maiúscula, letra minúscula.</span>
        </div>
        <div>
          <button class='toggleShowButton' title="Revelar"
                  (click)='togglePassphraseVisibility(passphraseInput, password.id)'>
            <mat-icon>visibility</mat-icon>
          </button>
          <button class='copyPasswordButton' title="Copiar" (click)='copyPassword(copyPasswordButton, password.id)'
                  #copyPasswordButton>
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
      </div>

      <div class='details website'>
        <span>Website</span>
        <input type='text'
               [placeholder]='password.application === "Criar senha" ? "Digite a url do website" : password.website'
               formControlName="website">
      </div>

      <div class='details tags'>
        <span class="tags-title">Tags</span>
        <mat-chip-grid #chipGrid aria-label="Digite uma tag">
          <mat-chip-row
            *ngFor="let tag of temporaryTags">
            <button class='selectBtn' mat-button *ngIf='!lock' [attr.aria-label]="'remove ' + tag"
                    (click)='removeTag(tag)'>
              <mat-icon>close</mat-icon>
            </button>
            <span>{{ tag }}</span>
          </mat-chip-row>
          <input *ngIf='!lock' placeholder="Digite a tag e pressione enter"
                 [matChipInputFor]="chipGrid"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 (matChipInputTokenEnd)="addTag($event)"
          />
          <input class="tagsInput" type="text" formControlName="tags">
        </mat-chip-grid>
      </div>

      <div class='details notes'>
        <span>Notas Adicionais</span>
        <textarea
          [placeholder]='password.application === "Criar senha" ? "Digite alguma nota, observação ou comentário sobre a senha cadastrada" : password.notes'
          rows='3'
          formControlName="notes"
        ></textarea>
      </div>
    </form>

    <section class="locker">
      <div class="lock-container">
        <div>
          <h1>{{ lock ? "Senha protegida" : "Senha desprotegida" }}</h1>
          <p>{{ lock ? "Para editar ou deletar essa senha, desbloqueie-a." : "Atenção, senha desbloqueada para edição ou deleção!" }}</p>
        </div>
        <button (click)="toggleLock()">
          <div class="toggleSwitch" [ngClass]="!lock ? 'inactive': ''">
            <div class="toggleSwitch__innerBall" [ngClass]="!lock ? 'inactive': ''"></div>
          </div>
        </button>
      </div>

      <button class="deleteBtn toggleShowButton" (click)="deletePassword(password.id)">
        <h2>Excluir senha</h2>
      </button>
    </section>
  </section>

</section>
<ng-template #loading>
  <div class="loading">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>
</ng-template>