:host {
  display: flex;
  flex-direction: column;
  width: 83.5%;
  height: 100%;
  z-index: 10;
}

.container {
  margin: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.password__header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // border-bottom: 2px solid var(--light-border);
  padding: 0 0 0 40px;
}

.password__header__left, .password__header__right {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.password__header__left a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password__header__title {
  font-size: 1.8em;
  margin: 0;
}

.password__header__left mat-icon {
  font-size: 1.6em !important;
  margin-right: 20px !important;
}

.password__header__right {
  flex: 3;
  justify-content: flex-end;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 35px 0 35px 40px;
}

.password-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--background);
  border: 2px solid var(--active-background2);
  border-radius: var(--radius-md);
  padding: 30px 40px;
  z-index: 2;
}

input::placeholder, textarea::placeholder {
  color: var(--font-color);
  font-weight: 400;
}


.application {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 25px 18px;
  border-bottom: 1px solid var(--lighter-border);
}

.application fa-icon, .application mat-icon:first-child {
  font-size: 1.8em !important;
  color: var(--dimmed) !important;
  margin: 0 25px 0 0 !important;
}

.application div {
  display: flex;
  width: 88%;
  flex-direction: column;
  justify-content: center;
}

.application div span {
  font-size: 0.95em;
  color: var(--dimmed);
}

.application div h3, input {
  margin-top: 5px;
  font-size: 1.3em;
  background: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  text-indent: 0;
}

input {
  font-size: 1.2em;
  padding: 0;
  margin-top: 12px;
}

.application input {
  margin-top: 8px;
  font-size: 1.4em;
}

.application button {
  justify-self: flex-end;
  margin-left: auto !important;
}

.application button mat-icon {
  font-size: 2em !important;
  color: var(--dimmed) !important;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  margin-top: 5px;
}

.focused {
  margin: 0 0;
  padding: 20px 20px;
  background: var(--active-background3);
  border-radius: var(--radius-md);
}

.details span {
  font-size: 0.95em;
  color: var(--dimmed);
}

.details h3 {
  margin-top: 12px;
  font-size: 1.2em;
}

.password {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.password div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.password div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password div:nth-child(2) button mat-icon {
  font-size: 1.6em !important;
  color: var(--dimmed) !important;
}

.password div:nth-child(2) button:nth-child(2) mat-icon {
  margin-left: 18px !important;
  color: var(--dimmed) !important;
}

.toggleShowButton, .copyPasswordButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  border: none;
  cursor: pointer;
}

.copyPasswordButton {
  position: relative;
}

.copyPasswordButton:before {
  position: absolute;
  top: -60px;
  right: -31px;
  padding: 11px 22px;
  background: var(--font-color);
  color: var(--background-soft);
  font-weight: bold;
  border-radius: var(--radius-sm);
  content: "Copiado!";
  font-size: 0.9em;
  display: none;
  z-index: 1;
}

.copyPasswordButton:after {
  content: "";
  position: absolute;
  top: -31px;
  right: 8px;
  padding: 5px;
  background: var(--font-color);
  transform: rotate(45deg);
  display: none;
  z-index: 0;
}

.copyPasswordButton.active:before, .copyPasswordButton.active:after {
  display: block;
}

.tags {
  border-top: 1px solid var(--lighter-border);
  padding: 20px 20px;
  transition: all 1s linear;
}

.tags-title {
  margin-left: 1px;
}

.tags mat-chip-grid {
  margin: 20px 0 0 10px;
  padding: 0 0 0 0;
}

.tags mat-chip-row {
  padding: 10px 0 10px 0;
  margin: 0 15px 0 0;
  background: var(--active-background3);
  border-radius: var(--radius-sm);
  font-size: 0.85em;
  transition: all 0.3s linear;
}

.selectBtn {
  all: unset;
  height: 100%;
  margin-right: 8px;
  margin-left: 0 !important;
  padding-left: 0 !important;
  width: 10px;
}

.selectBtn mat-icon {
  color: rgb(255, 100, 100) !important;
}

.tags mat-chip-row mat-icon {
  padding: 0 !important;
  margin-top: 2px !important;
}

.tags mat-chip-row span {
  color: var(--font-color) !important;
}

.tags mat-chip-row:hover {
  background: var(--active-background3);
}

.tags mat-chip-grid input {
  padding: 0 0;
  margin: 0 0 1px 0;
}

.tags mat-chip-grid input::placeholder {
  color: var(--font-color);
}

.tagsInput {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.notes {
  border-top: 1px solid var(--lighter-border);
  height: auto;
}

.notes textarea {
  margin-top: 15px;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.2em;
  color: var(--font-color);
  resize: none;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 40px 1px 40px;
  margin-top: auto;
}

.password__save-edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 35px;
  // margin: 0 0 0 10px;
  height: 37px;
  font-weight: 500;
  font-size: 0.9em;
  color: var(--background);
  border-radius: var(--radius-sm);
  background: var(--primary);
  border: 1px solid transparent;
  transition: 0.25s all linear;
}

.password__save-edit span {
  transition: 0.25s all linear;
}

.password__save-edit.edit {
  background: var(--font-color);
}

.cancel {
  margin-right: 15px;
  background: var(--active-background3);
  color: var(--font-color);
}

.submit {
  color: var(--font-color);
}

.locker {
  display: flex;
  flex-direction: column;
  background: var(--active-background2);
  flex: 0.8;
  // height: 93.5%;
  border-top-right-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
  padding: 20px 40px;
  margin: 0px 0 0 -5px;
}

.lock-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.lock-container h1 {
  font-size: 1.2em;
  margin: 0;
}

.lock-container p {
  color: var(--dimmed);
  margin: 10px 0 0 0;
  font-size: 0.9em;
}

.lock-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  border: none;
  cursor: pointer;
}

.lock-container mat-icon {
  font-size: 5em !important;
}

button {
  cursor: pointer;
}

.toggleSwitch {
  display: flex;
  flex-direction: row;
  padding: 0 2px 0 2px;
  align-items: center;
  width: 48px;
  height: 28px;
  background: rgb(22, 182, 34);
  border-radius: 100px;
}

.toggleSwitch.inactive {
  background: rgb(150, 150, 150);
}

.toggleSwitch__innerBall {
  width: 24px;
  height: 24px;
  background: rgb(255, 255, 255);
  border-radius: 100px;
  transform: translateX(24px);
  transition: all 0.1s linear;
}

.toggleSwitch__innerBall.inactive {
  transform: translateX(0);
  background: rgb(230, 230, 230);
}

.deleteBtn {
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 10px;
}

.deleteBtn h2 {
  font-size: 1em;
  font-weight: bold;
  color: rgb(255, 100, 100) !important;
}

.loading {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--dimmed);
}

span.validator {
  margin-top: 8px !important;
  font-size: 0.8em !important;
  color: rgb(255, 100, 100) !important;
}