:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}


.password__save-edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
  margin: 0 0 0 10px;
  width: 110px;
  height: 37px;
  font-weight: 500;
  font-size: 0.9em;
  color: var(--background);
  border-radius: var(--radius-sm);
  background: var(--primary);
  border: 1px solid transparent;
  transition: 0.25s all linear;
}

.password__save-edit span {
  transition: 0.25s all linear;
}

.password__save-edit.edit {
  background: var(--font-color);
}

.password__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.password__header__left, .password__header__right {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.password__header__left a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password__header__title {
  font-size: 1.8em;
  margin: 0;
}

.password__header__left mat-icon {
  font-size: 1.6em !important;
  margin-right: 20px !important;
}

.password__header__right {
  flex: 3;
  justify-content: flex-end;
}

.container {
  margin: 40px 30px 0 40px;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.content{
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  margin: 40px 0;
}

.password-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--active-background);
  border: 2px solid var(--light-border);
  border-radius: var(--radius-md);
  padding: 37px 40px 0 40px;
  z-index: 2;
}

input::placeholder, textarea::placeholder {
  color: var(--dimmed);
  font-weight: 400;
}

.application {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1px 25px 21px;
  border-bottom: 1px solid var(--light-border);
}

.application fa-icon, .application mat-icon:first-child {
  font-size: 2em !important;
  color: var(--dimmed) !important;
}

.application div {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
}

.application div span {
  font-size: 0.8em;
  color: var(--dimmed);
}

.application div h3, input {
  margin-top: 5px;
  font-size: 1.5em;
  background: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  text-indent: 0;
}

input {
  font-size: 1.2em;
  padding: 0;
  margin-top: 12px;
}

.application input {
  margin-top: 5px;
  font-size: 1.5em;
}

.application button {
  margin-left: auto;
}

.application button mat-icon {
  font-size: 2em!important;
  color: var(--dimmed) !important;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 21px 20px 21px 20px;
  margin-top: 5px;
  // background: red;
}

.focused {
  background: var(--active-background3);
  // border: 1px solid var(--lighter-border)!important;
  border-radius: var(--radius-md);
}

.details span {
  font-size: 0.95em;
  color: var(--dimmed);
}

.details h3 {
  margin-top: 12px;
  font-size: 1.2em;
}

.password {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.password div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.password div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password div:nth-child(2) button mat-icon {
  font-size: 1.6em!important;
  color: var(--dimmed)!important;
}

.password div:nth-child(2) button:nth-child(2) mat-icon {
  margin-left: 18px!important;
  color: var(--dimmed)!important;
}

.toggleShowButton, .copyPasswordButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent!important;
  outline: none!important;
  box-shadow: none!important;
  border: none;
  cursor: pointer;
}

.copyPasswordButton {
  position: relative;
}

.copyPasswordButton:before {
  position: absolute;
  top: -60px;
  right: -31px;
  padding: 11px 22px;
  background: var(--font-color);
  color: var(--background-soft);
  font-weight: bold;
  border-radius: var(--radius-sm);
  content: "Copiado!";
  font-size: 0.9em;
  display: none;
  z-index: 1;
}

.copyPasswordButton:after {
  content: "";
  position: absolute;
  top: -31px;
  right: 8px;
  padding: 5px;
  background: var(--font-color);
  transform: rotate(45deg);
  display: none;
  z-index: 0;
}

.copyPasswordButton.active:before, .copyPasswordButton.active:after {
  display: block;
}

.tags {
  border-top: 1px solid var(--lightest-border);
  transition: all 1s linear;
}

.tags mat-chip-grid {
  margin: 20px 0 0 -13px;
}

.tags mat-chip-row {
  padding: 12px 12px;
  margin: 0 12px 0 0;
  background: var(--active-background2);
  border: 1px solid var(--lightest-border);
  border-radius: var(--radius-sm);
  font-size: 0.85em;
  transition: all 0.3s linear;
}

.selectBtn {
  all: unset;
  height: 100%;
  margin-right: 5px;
}

.tags mat-chip-row mat-icon {
  padding: 0!important;
  margin-top: 2px!important;
}

.tags mat-chip-row span {
  color: var(--font-color)!important;
}
.tags mat-chip-row:hover {
  background: var(--active-background3);
  border: 1px solid var(--lightest-border);
}

.tags mat-chip-grid input {
  font-size: 0.9em;
  margin: 0 0 1px 22px;
}

.tags mat-chip-grid input::placeholder {
  color: var(--dimmed);
}

.notes {
  border-top: 1px solid var(--lightest-border);
  height: auto;
}

.notes textarea {
  margin-top: 15px;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.2em;
  color: var(--font-color);
  resize: none;
}

.locker {
  display: flex;
  background: var(--active-background2);
  flex: 0.8;
  border-top-right-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
  padding: 20px 40px;
  margin-left: -5px;
}

.lock-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  flex: 1;
}

.lock-container h1 {
  font-size: 1.2em;
  margin: 0;
}

.lock-container p {
  color: var(--dimmed);
  margin: 10px 0 0 0;
  font-size: 0.9em;
}

.lock-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: transparent!important;
    outline: none!important;
    box-shadow: none!important;
    border: none;
    cursor: pointer;
}

.lock-container mat-icon {
  font-size: 5em !important;
}

button {
  cursor: pointer;
}
