:host {
  display: flex;
  height: auto;
}

.passwords__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.passwords__header__left, .passwords__header__right {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.passwords__header__right {
  flex: 3;
  justify-content: flex-end;
}

.passwords__header__left__title {
  font-size: 2em;
  color: var(--font-color);
}

.passwords__header__left__numbers {
  margin: 0 0 0 20px;
  color: var(--primary);
  //font-weight: bold;
  font-size: 0.85em;
  padding: 6px 20px 6px 20px;
  background: var(--active-background3);
  border-radius: 100px;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  margin-left: 25px;
  flex-direction: row;
  flex: 0 35%;
  border-radius: var(--radius-sm);
  // background: var(--active-background2)!important;
  border: 1px solid var(--lighter-border)!important;
}

.searchbar-icon {
  font-size: 1.4em!important;
  color: var(--dimmed)!important;
  z-index: 2;
}
.searchbar-input {
  margin-left: 12px;
  width: 100%;
  height: 100%;
  color: var(--font-color);
  background: transparent;
  font-size: 0.85em;
  border: none;
  outline: none;
  z-index: 1;
}

.searchbar-input::placeholder {
  color: var(--dimmed);
}

.sortByContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 0 0 10px;
}

.sortBy {
  display: flex;
  flex-direction: row;
  width: 140px;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px 0 12px;
  height: 40px;
  border-radius: var(--radius-sm);
  background: transparent;
  border: 1px solid var(--lighter-border);
  outline: none;
  transition: 0.25s all linear;
}

.sortBy mat-icon {
  transition: 0.25s all linear;
  color: var(--dimmed)!important;
  font-size: 1.4em!important;
}

.sortBy span {
  transition: 0.25s all linear;
  color: var(--dimmed);
  font-size: 0.9emt;
}

.sortBy:hover {
  background: var(--active-background3);
}

.sortBy:hover mat-icon {
  color: var(--font-color) !important;
}

.sortBy:hover span {
  color: var(--font-color);
}

.sortBy__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
  top: 45px;
  left: 0;
  width: 128px;
  height: 0;
  opacity: 0;
  padding: 6px 6px;
  background: var(--background);
  color: var(--font-color);
  border: 1px solid var(--lighter-border);
  border-radius: var(--radius-md);
  transition: 0.2s all linear;
}

.sortBy__menu__item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  background: transparent;
  color: var(--dimmed);
  font-size: 0.8em;
  border-radius: var(--radius-sm);
  border: none;
  outline: none;
  transition: 0.25s all linear;
}

.sortBy__menu__item mat-icon {
  margin-top: -1px!important;
  transition: 0.25s all linear;
  color: var(--primary)!important;
  font-size: 1.2em!important;
}

.sortBy__menu__item:hover {
  background: var(--active-background3);
  color: var(--font-color);
}

.importPasswordsButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 12px;
  margin: 0 0 0 10px;
  width: 100px;
  height: 40px;
  border-radius: var(--radius-sm);
  background: var(--font-color);
  border: 1px solid var(--lighter-border);
  transition: 0.25s all linear;
}

.importPasswordsButton mat-icon {
  transition: 0.25s all linear;
  color: var(--background)!important;
  font-size: 1.2em!important;
}

.importPasswordsButton span {
  transition: 0.25s all linear;
  color: var(--background);
  font-size: 0.9emt;
}

.importPasswordsButton:hover {
  background: black;
  border: 1px solid var(--primary);
}

.importPasswordsButton:hover mat-icon {
  color: var(--primary) !important;
}

.importPasswordsButton:hover span {
  color: var(--primary);
}

.addPasswordButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
  margin: 0 0 0 10px;
  width: 130px;
  height: 37px;
  font-weight: 500;
  font-size: 0.85em;
  border-radius: var(--radius-sm);
  background: var(--font-color);
  border: 1px solid transparent;
  transition: 0.25s all linear;
}

.addPasswordButton span {
  transition: 0.25s all linear;
  color: var(--background-soft);
}

.addPasswordButton span:nth-child(2) {
  font-size: 1.5em;
}

.addPasswordButton:hover {
  background: black;
  border: 1px solid var(--primary);
}

.addPasswordButton:hover span {
  color: var(--primary);
}