<mat-toolbar class="container" *ngIf='user$ | async as user'>
  <mat-toolbar class='container__user' *ngIf='user'>
    <div class='user-profile'>
            <span>{{user.name}}</span>
      <img src="assets/eu.jpg" alt="avatarImg"/>
    </div>
  </mat-toolbar>

  <button class="container__notifications">
    <mat-icon class="container__theme-light">notifications</mat-icon>
  </button>

  <mat-button-toggle-group class="container__theme" name="theme" aria-label="theme">
    <mat-button-toggle *ngFor="let theme of themeOptions" [value]="theme"  [checked]="theme === selectedThemeOption">
      <mat-icon class="container__theme-option">{{theme}}</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

</mat-toolbar>