<mat-toolbar class="passwords__header" *ngIf="passwords$ | async as passwords">
  <div class="passwords__header__left">
    <h1 class="passwords__header__left__title">{{ headerTitle }}</h1>
    <span class="passwords__header__left__numbers">{{ passwordsLength }}</span>
  </div>

  <div class="passwords__header__right">
    <div class="searchbar">
      <mat-icon class='searchbar-icon' matPrefix>search</mat-icon>
      <input #searchbar class='searchbar-input' matInput placeholder="Pesquisar"
             (keyup.enter)="search(searchbar.value)" />
    </div>

    <div class="sortByContainer">
      <button class="sortBy" (click)="expandElement('.sortBy__menu', 'auto', 12, 200)">
        <span>Ordenar por</span>
        <mat-icon>expand_more</mat-icon>
      </button>

      <div class="sortBy__menu">
        <button class="sortBy__menu__item" *ngFor="let sortOption of sortOptions" (click)="sortPasswords(sortOption)">
          <span>{{ sortOption }}</span>
          <mat-icon *ngIf="selectedSortOption === sortOption">check</mat-icon>
        </button>
      </div>
    </div>

    <!--    <div class="importPasswords">-->
    <!--      <button class='importPasswordsButton'>-->
    <!--        <span>Importar</span>-->
    <!--        <mat-icon>file_upload</mat-icon>-->
    <!--      </button>-->
    <!--    </div>-->


    <a [routerLink]="['/passwords/', 'Criar senha']">
      <button class='addPasswordButton'>
        <span>Adicionar</span>
        <span>+</span>
      </button>
    </a>

  </div>
</mat-toolbar>
