:host {
  display: flex;
  flex-direction: column;
  margin: 0 0 3% 7%;
  width: 93%;
  height: 84%;
}

.nav-list mat-list-item {
  transition: all 0.25s linear;
}

.nav-list mat-list-item:hover {
  background: var(--active-background2);
}

.nav-list mat-list-item:hover h2 {
  color: var(--white);
}

.nav-list mat-list-item:hover mat-icon {
  color: var(--white) !important;
}

.nav-list h1, h2 {
  font-size: 0.95em;
  font-weight: 500;
  margin: 0 0 0 10px;
  color: var(--dimmed);
}

.nav-list mat-icon {
  font-size: 1.2em !important;
  color: var(--dimmed) !important;
}

.nav-list-header button {
  width: 0;
  height: 0;
  text-align: center;
  margin-top: 2px;
  font-size: 1em;
  padding: 0;
}

.top-list {
  padding: 0;
  margin: 13px 0 0 0;
}

.top-list mat-list-item {
  padding: 7px 10px 7px 10px;
  margin: 2px 10px 0 -10px;
}

.nav-list-title {
  align-self: center;
  font-size: 0.9em;
  margin: -3px 0 0 0;
  font-weight: normal;
  color: var(--dimmed);
  padding: 0;
}

mat-accordion{
  height: auto;
  margin: 6px 0 0 -10px;
  overflow-y: scroll;
}

mat-expansion-panel {
  padding: 0 0 0 6.5px!important;
  margin: 0!important;
  width: 96%;
  box-shadow: none!important;
  border-radius: 0!important;
}

mat-expansion-panel-header{
  display: flex;
  padding: 7px 10px 7px 10px;
  transition: all 0.25s linear;
}

mat-expansion-panel-header:hover {
  background: var(--active-background2) !important;
}

mat-expansion-panel-header:hover h2 {
  color: var(--white) !important;
}

::ng-deep mat-expansion-panel-header:hover .mat-expansion-indicator:after {
  color: var(--white) !important;
}

mat-expansion-panel-header mat-icon {
  align-self: center;
}

mat-expansion-panel-header.mat-expanded {
  margin-bottom: 0;
  margin-top: 0;
}

::ng-deep mat-expansion-panel-header .mat-expansion-indicator:after {
  margin-top: -45%;
  color: var(--dimmed)!important;
  height: 0.1px;
  width: 0.1px;
}

::ng-deep {
  mat-expansion-panel {
    .mat-expansion-panel-body {
      padding: 3% 0 0 0;
    }
  }
}

.tags {
  margin: -5px 0 10px 14px!important;
  border-left: 1px solid var(--lighter-border);
}

.tags .mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 0 7px 0;
}

.tags mat-list-item {
  padding: 0!important;
  margin: 0!important;
  width: 95%;
  border-top-right-radius: var(--radius-sm);
  border-bottom-right-radius: var(--radius-sm);
  transition: all 0.25s linear;
}

.line {
  width: 20px;
  height: 1px;
  background: var(--lighter-border);
}

.folder mat-icon, .tag mat-icon {
  font-size: 1em!important;
  color: var(--dimmed) !important;
  margin-left: 12%!important;
}

.tag h2 {
  color: var(--dimmed);
  font-size: 0.9em;
}

.selected {
  //background: var(--active-background);
  transition: 0.35s all linear;
}

.selected mat-icon, .selected h2 {
  color: var(--white) !important;
}