<ul class='nav-list top-list'>
  <li>
    <mat-icon [style.color]="'rgb(255, 255, 255)!important'">shield</mat-icon>
    <h1>Senhas</h1>
  </li>
  <li>
    <mat-icon [style.color]="'rgb(254, 191, 99)!important'">star</mat-icon>
    <h1>Favoritas</h1>
  </li>
  <li>
    <mat-icon>history</mat-icon>
    <h1>Recentes</h1>
  </li>
  <li>
    <mat-icon [style.color]="'rgb(232, 74, 95)!important'">delete</mat-icon>
    <h1>Lixeira</h1>
  </li>
</ul>

<ul class='nav-list bottom-list folders'>
  <li class='nav-list-header'>
    <h1>Pastas</h1>
    <div class='plus-area'>
      <mat-icon>add</mat-icon>
    </div>
    <mat-icon class='expand'>expand_more</mat-icon>
  </li>
  <li class='nav-list-item folder'>
    <mat-icon>folder</mat-icon>
    <h2>Social</h2>
  </li>
  <li class='nav-list-item folder'>
    <mat-icon>folder</mat-icon>
    <h2>Finanças</h2>
  </li>
  <li class='nav-list-item folder'>
    <mat-icon>folder</mat-icon>
    <h2>Trabalho</h2>
  </li>
  <li class='nav-list-item folder'>
    <mat-icon>folder</mat-icon>
    <h2>Streamings</h2>
  </li>
  <li class='nav-list-item folder'>
    <mat-icon>folder</mat-icon>
    <h2>Outros</h2>
  </li>
</ul>

<ul class='nav-list bottom-list tags'>
  <li class='nav-list-header'>
    <h1>Tags</h1>
    <div class='plus-area'>
      <mat-icon>add</mat-icon>
    </div>
    <mat-icon class='expand'>expand_more</mat-icon>
  </li>
  <li class='nav-list-item tag'>
    <mat-icon>label</mat-icon>
    <h2>Musica</h2>
  </li>
  <li class='nav-list-item tag'>
    <mat-icon>label</mat-icon>
    <h2>Video</h2>
  </li>
  <li class='nav-list-item tag'>
    <mat-icon>label</mat-icon>
    <h2>Games</h2>
  </li>
  <li class='nav-list-item tag'>
    <mat-icon>label</mat-icon>
    <h2>Redes Sociais</h2>
  </li>
</ul>