:host {
  display: flex;
  flex-direction: column;
  margin: 0 0 3% 7%;
  width: 93%;
  height: 91.5%;
}

.nav-list mat-list-item {
  transition: all 0.25s linear;
}

.nav-list mat-list-item:hover {
  background: var(--active-background3);
}

.nav-list mat-list-item:hover h2 {
  color: var(--white);
}

.nav-list mat-list-item:hover mat-icon {
  color: var(--white) !important;
}

.nav-list h1, h2 {
  font-size: 0.95em;
  font-weight: 500;
  margin: 0 0 0 10px;
  color: var(--dimmed);
}

.nav-list mat-icon {
  font-size: 1.2em !important;
  color: var(--dimmed) !important;
}

.nav-list-header button {
  width: 0;
  height: 0;
  text-align: center;
  margin-top: 2px;
  font-size: 1em;
  padding: 0;
}

.top-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 13px 0 0 0;
  height: 100%;
  overflow-y: scroll;
}


.top-list mat-list-item {
  padding: 7px 10px 7px 10px;
  margin: 2px 10px 0 -10px;
}

.tags-container {
  overflow-y: scroll;
  height: 75%;
  opacity: 1;
  margin-bottom: 10px;
  transition: all 0.2s linear;
}

.tags-header {
  display: flex;
  flex-direction: row;
}

.tags {
  margin: -5px 0 10px 9px!important;
  border-left: 1px solid var(--lighter-border);
}

.tags .mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 0 7px 0;
}

.tags mat-list-item {
  padding: 0!important;
  margin: 0!important;
  width: 95%;
  border-top-right-radius: var(--radius-sm);
  border-bottom-right-radius: var(--radius-sm);
  transition: all 0.25s linear;
}

.line {
  width: 20px;
  height: 1px;
  background: var(--lighter-border);
}

.folder mat-icon, .tag mat-icon {
  font-size: 1em!important;
  color: var(--dimmed) !important;
  margin-left: 12%!important;
}

.tag h2 {
  color: var(--dimmed);
  font-size: 0.9em;
}

.selected {
  transition: 0.35s all linear;
}

.selected mat-icon, .selected h2 {
  color: var(--white) !important;
}

.nav-settings {
  //margin-top: auto;
}