<mat-nav-list class="nav-list top-list">
  <a routerLink='/passwords'>
    <mat-list-item [ngClass]="{'selected': isTheActiveRoute('/passwords')}">
      <mat-icon class="material-icons-outlined" matListItemIcon>shield</mat-icon>
      <h1 matListItemTitle>Senhas</h1>
    </mat-list-item>
  </a>

  <a routerLink='/passwords'>
    <mat-list-item [ngClass]="{'selected': isTheActiveRoute('/favorites')}">
      <mat-icon matListItemIcon>star_outline</mat-icon>
      <h1 matListItemTitle>Favoritas</h1>
    </mat-list-item>
  </a>

  <a routerLink='/passwords'>
    <mat-list-item [ngClass]="{'selected': isTheActiveRoute('/trash')}">
      <mat-icon matListItemIcon>delete_outline</mat-icon>
      <h1 matListItemTitle>Lixeira</h1>
    </mat-list-item>
  </a>
</mat-nav-list>

<mat-accordion class='tags-accordion' [togglePosition]="'before'">
  <mat-expansion-panel class='tags-expansion-panel' (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" expanded>
    <mat-expansion-panel-header class='mat-expansion-panel-header'>
      <mat-panel-title>
        <h1 class='nav-list-title'>Tags</h1>
      </mat-panel-title>
      <mat-icon class="material-icons-outlined">add</mat-icon>
    </mat-expansion-panel-header>

    <mat-nav-list class="nav-list bottom-list tags">
      <mat-list-item class="nav-list-item tag" *ngFor='let tag of tags' >
        <mat-icon matListItemIcon>tag</mat-icon>
        <h2 matListItemTitle>{{tag}}</h2>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>


