@import "theme.scss";

:host {
  display: flex;
  flex-direction: column;
  margin: 0 0 3% 7%;
  width: 93%;
  height: 77%;
  // background: red;
}

mat-accordion{
  height: auto;
  margin-top: -1%;
  width: 100%;
  overflow-y: scroll;
}

mat-expansion-panel {
  padding: 0 0 0 2%!important;
  width: 97%;
  box-shadow: none!important;
  border-radius: 0!important;
}

mat-expansion-panel-header{
  display: flex;
  padding: 3% 12% 1% 6%;
}

.nav-list-title {
  align-self: center;
  font-size: 0.9em;
  margin: -3px 0 0 0;
  font-weight: normal;
  padding: 0;
}

mat-expansion-panel-header mat-icon {
  align-self: center;
  //color: $primary!important;
}

mat-expansion-panel-header.mat-expanded {
  margin-bottom: 0;
  margin-top: 0;
}

::ng-deep mat-expansion-panel-header .mat-expansion-indicator:after {
  margin-top: -70%;
  color: $lightIcon!important;
  height: 0.1px;
  width: 0.1px;
  //transform: scale(0.6);
}

::ng-deep {
  mat-expansion-panel {
    .mat-expansion-panel-body {
      padding: 3% 0 0 0;
    }
  }
}

.folders-accordion {
  display: none;
}

.top-list {
  margin-top: 4%;
}

.bottom-list {
  padding: 0!important;
  margin: 0!important;
}

.nav-list mat-list-item {
  padding: 7px 5% 7px 5%;
  margin-bottom: 2px;
  width: 91%;
  height: auto;
  border-radius: $radiusMd;
}

.nav-list h1, h2 {
  font-size: 0.9em;
  font-weight: 500;
  margin: 0 0 0 10px;
  color: $lightText;
}

.nav-list a {
  text-decoration: none;
}

.nav-list mat-icon {
  font-size: 1.4em !important;
}

.nav-list-header button {
  width: 0;
  height: 0;
  text-align: center;
  margin-top: 2px;
  font-size: 1em;
  padding: 0;
}

.folder mat-icon, .tag mat-icon {
  font-size: 1em!important;
  color: $dimmed !important;
  margin-left: 12%!important;
}

.folder h2, .tag h2 {
  margin-left: 6%;
  color: $dimmed;
  font-size: 0.9em;
}

.selected {
  background-color: $activeBg !important;
  // border: 1px solid $lighterBorder;
  // border-left: 1px solid $primary;
  // border-right: 1px solid $primary;
  transition: 0.35s all linear;
}

.selected mat-icon {
    color: $activeContent !important;
}

.selected h1 {
  color: $activeContent !important;
}