@import "theme.scss";

:host {
  display: flex;
  flex-direction: column;
  margin: 0 0 9% 7%;
  width: 93%;
  height: 70%;
}

mat-accordion{
  height: auto;
  margin-top: -1%;
  width: 100%;
  overflow-y: scroll;
}

mat-expansion-panel {
  padding: 0 0 0 2%!important;
  width: 97%;
  box-shadow: none!important;
  border-radius: 0!important;
}

mat-expansion-panel-header{
  display: flex;
  padding: 3% 12% 3% 6%;
}

.nav-list-title {
  align-self: center;
  font-size: 0.9em;
  margin: -3px 0 0 0;
  font-weight: normal;
  padding: 0;
}

mat-expansion-panel-header mat-icon {
  align-self: center;
}

mat-expansion-panel-header.mat-expanded {
  margin-bottom: 0;
  margin-top: 0;
}

::ng-deep mat-expansion-panel-header .mat-expansion-indicator:after {
  margin-top: -70%;
  color: $lightIcon;
  height: 0.1px;
  width: 0.1px;

}

::ng-deep {
  mat-expansion-panel {
    .mat-expansion-panel-body {
      padding: 3% 0 0 0;
    }
  }
}

.folders-accordion {
  display: none;
}

.top-list {
  margin-top: 8%;
}

.bottom-list {
  padding: 0!important;
  margin: 0!important;
}

.nav-list mat-list-item {
  padding: 3% 5% 3% 5%;
  margin-bottom: 2px;
  width: 91%;
  height: auto;
  border-radius: 100px;
}

.nav-list h1, h2 {
  font-size: 0.9em;
  font-weight: 500;
  margin: 0 0 0 10px;
}

.nav-list a {
  text-decoration: none;
}

.nav-list mat-icon {
  font-size: 1.4em !important;
}

.nav-list-header button {
  width: 0;
  height: 0;
  text-align: center;
  margin-top: 2px;
  font-size: 1em;
  padding: 0;
}

.folder mat-icon, .tag mat-icon {
  font-size: 1em!important;
  color: $dimmed !important;
  margin-left: 12%!important;
}

.folder h2, .tag h2 {
  margin-left: 6%;
  color: $dimmed;
}

.selected {
  background-color: $activeBg !important;
  transition: 0.35s all linear;
}