<mat-nav-list class="nav-list top-list">
  <mat-list-item [ngClass]="{'selected': isTheActiveRoute('/passwords')}">
    <mat-icon class="material-icons-outlined" matListItemIcon>shield</mat-icon>
    <a routerLink='/passwords' matListItemTitle><h1>Senhas</h1></a>
  </mat-list-item>
  <mat-list-item [ngClass]="{'selected': isTheActiveRoute('/favorites')}">
    <mat-icon matListItemIcon style="color: rgb(254, 191, 99)!important">star_outline</mat-icon>
    <h1 matListItemTitle>Favoritas</h1>
  </mat-list-item>
  <mat-list-item [ngClass]="{'selected': isTheActiveRoute('/trash')}">
    <mat-icon matListItemIcon style="color: rgb(232, 74, 95)!important">delete_outline</mat-icon>
    <h1 matListItemTitle>Lixeira</h1>
  </mat-list-item>
</mat-nav-list>

<mat-accordion class='tags-accordion' [togglePosition]="'before'">
  <mat-expansion-panel class='tags-expansion-panel' (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" expanded>
    <mat-expansion-panel-header class='mat-expansion-panel-header'>
      <mat-panel-title>
        <span class='nav-list-title'>Tags</span>
      </mat-panel-title>
      <mat-icon class="material-icons-outlined">add</mat-icon>
    </mat-expansion-panel-header>

    <mat-nav-list class="nav-list bottom-list tags">
      <mat-list-item class="nav-list-item tag" *ngFor='let tag of tags' >
        <mat-icon matListItemIcon>tag</mat-icon>
        <h2 matListItemTitle>{{tag}}</h2>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>


