:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2% 0 2% 2%;
  padding: 0 4% 0 4%;
  width: 35%;
  height: 94%;
  background: rgb(27, 117, 218);
  // background: rgba(28, 28, 35, 1);
  // background: rgba(38, 38, 45, 1);
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}