<div class='container' *ngIf='passwords$ | async as passwords'>
  <h1 class='container__title'>Senhas <span>({{passwords.length}})</span></h1>
  <span class='container__passwordsNumber'>{{passwords.length}} Senhas</span>

  <mat-chip-listbox aria-label="sorting selection" class='container__sortOptions'>
    <mat-icon>swap_vert</mat-icon>
    <h3>Ordenar:</h3>
    <mat-chip-option
      *ngFor='let option of sortOptions'
      (click)="onSortOptionChange(option)"
      [selected]='option===selectedSortOption'>
      {{option}}
    </mat-chip-option>
  </mat-chip-listbox>

  <mat-nav-list class='container__passwords-list'>
    <mat-list-item
      *ngFor='let p of passwords; let i = index'
      (click)='selectPassword(p)'
      [ngClass]="{'selected': (selectedPassword$ | async) === p}">
      <div class='listIcon' matListItemIcon>
        <fa-icon [icon]="icons[findClosestIcon(p.application)]"></fa-icon>
      </div>

      <div matListItemTitle>
        <h4>{{p.application}}</h4>
        <span>{{p.username}}</span>
      </div>
      <button class='copyPasswordButton more' (click)='copyPassword(p.passphrase)' title="Title" matListItemMeta><mat-icon>content_copy</mat-icon></button>
    </mat-list-item>
  </mat-nav-list>
</div>
