<div class='container' *ngIf='passwords$ | async as passwords'>
  <span class='container__passwordsNumber'>{{passwords.length}} Senhas</span>
  <h1 class='container__title'>Todas senhas</h1>

  <mat-chip-listbox aria-label="sorting selection" class='container__sortOptions'>
    <span>Ordenar por: </span>
    <mat-chip-option
      *ngFor='let option of sortOptions'
      (click)="onSortOptionChange(option)"
      [selected]='option===selectedSortOption'>
      {{option}}
    </mat-chip-option>
  </mat-chip-listbox>

  <mat-nav-list class='container__passwords-list'>
    <mat-list-item
      *ngFor='let p of passwords; let i = index'
      (click)='selectPassword(p)'
      [ngClass]="{'selected': (selectedPassword$ | async) === p}">
      <mat-icon matListItemIcon>vpn_key</mat-icon>
      <div matListItemTitle>
        <h4>{{p.application}}</h4>
        <span>{{p.username}}</span>
      </div>
      <span matListItemMeta class='more'>...</span>
    </mat-list-item>
  </mat-nav-list>
</div>
