<section class="container" *ngIf="passwords$ | async as passwords">

  <mat-toolbar class="container-list__header">
    <div class="container-list__header__left">
      <h1 class="container__header__title">Senhas</h1>
      <span class="container__header__numbers">{{passwords.length}}</span>
    </div>

    <div class="container-list__header__right">
      <div class="searchbar">
        <mat-icon class='searchbar-icon' matPrefix>search</mat-icon>
        <input #searchbar class='searchbar-input' matInput placeholder="Pesquisar" (keyup.enter)="search(searchbar.value)" />
      </div>

      <div class="sortByContainer">
        <button class="sortBy" (click)="expandElement('.sortBy__menu', 'auto', 12, 200)">
          <span>Ordenar por</span>
          <mat-icon>expand_more</mat-icon>
        </button>

        <div class="sortBy__menu">
          <button class="sortBy__menu__item" *ngFor="let sortOption of sortOptions">
            <span>{{sortOption}}</span>
            <mat-icon *ngIf="selectedSortOption === sortOption">check</mat-icon>
          </button>
        </div>
      </div>


      <button class='importPasswordsButton'>
        <mat-icon>file_upload_outline</mat-icon>
        <span>Importar</span>
      </button>

      <button class='addPasswordButton'>
          <span>Adicionar</span>
          <span>+</span>
      </button>


    </div>
  </mat-toolbar>

  <section class="table__container">
    <table mat-table class='table__passwords' [dataSource]="passwords$">
      <ng-container matColumnDef="favorite">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="first" >
            <mat-icon [style.font-size]="'1.5em !important'">{{element.favorite ? 'star' : 'star_outline'}}</mat-icon>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="application">
        <th mat-header-cell *matHeaderCellDef> Aplicação </th>
        <td mat-cell *matCellDef="let element">
          <div class="table__passwords__mat-cell">
            <fa-icon [icon]="icons[findClosestIcon(element.application)]"></fa-icon>
            <span>{{element.application}}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Usuário </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="passphrase">
        <th mat-header-cell *matHeaderCellDef> Senha </th>
        <td mat-cell *matCellDef="let element" #passphrase (click)="togglePasswordVisibility(passphrase, element.passphrase)" [style.width]="'20%'">{{"*".repeat(element.passphrase.length)}}</td>
      </ng-container>

      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef> Tags </th>
        <td mat-cell *matCellDef="let element">
          <span class="table__passwords__span" *ngFor="let tag of element.tags">
            {{tag}}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <div class="table__passwords__mat-cell last-column" >
            <mat-icon [style.font-size]="'1.5em !important'" class="last-column__icon-more delete-icon" #actions (click)="expandActions('.sortBy__menu2', 'auto', 12, 0, actions._elementRef.nativeElement)">more_vert</mat-icon>
          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </section>
  <div class="sortBy__menu2">
    <button class="sortBy__menu__item">
      Editar
    </button>
    <button class="sortBy__menu__item">
      Deletar
    </button>
  </div>
  <div class="blank">-</div>
</section>