:host {
  display: flex;
  flex: 1;
  height: auto;
  border-left: 1px solid var(--light-border);
  overflow-y: scroll!important;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 30px 30px 0 30px;
}

.container-list__header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.container-list__header__left, .container-list__header__right {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.container-list__header__right {
  flex: 3;
}

.container__header__title {
  font-size: 2em;
  color: var(--white);
}

.container__header__numbers {
  margin: 0 0 15px 3px;
  color: var(--primary);
  font-weight: bold;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  margin-left: 25px;
  flex-direction: row;
  flex: 1 33%;
  border-radius: var(--radius-sm);
  // background: var(--active-background2)!important;
  border: 1px solid var(--lighter-border)!important;
}

.searchbar-icon {
  font-size: 1.4em!important;
  color: var(--dimmed)!important;
  z-index: 2;
}
.searchbar-input {
  margin-left: 12px;
  width: 100%;
  height: 100%;
  color: var(--white);
  background: transparent;
  font-size: 0.85em;
  border: none;
  outline: none;
  z-index: 1;
}

.searchbar-input::placeholder {
  color: var(--dimmed);
}

.container__sortOptions {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--lighter-border)!important;
  border-radius: var(--radius-sm);
  margin: 0 0 0 10px;
  padding: 0 3px;
  width: auto;
}

.container__sortOptions mat-chip-option {
  padding: 1px 0;
  font-size: 0.8em;
  color: var(--dimmed);
  border-radius: 3px;
  transition: all 0.25s linear;
}

.mat-mdc-chip-selected {
  background: var(--active-background3)!important;
  color: var(--active-content)!important;
}

::ng-deep .no-line .mdc-line-ripple {
  display: none;
}

.container__sortOptions mat-chip-option:hover {
  color: var(--white)!important;
}

.importPasswordsButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 12px;
  margin: 0 0 0 10px;
  width: 100px;
  height: 40px;
  border-radius: var(--radius-sm);
  background: black;
  border: 1px solid var(--lighter-border);
  transition: 0.25s all linear;
}

.importPasswordsButton mat-icon {
  transition: 0.25s all linear;
  color: var(--dimmed)!important;
  font-size: 1.4em!important;
}

.importPasswordsButton span {
  transition: 0.25s all linear;
  color: var(--dimmed);
  font-size: 0.9emt;
}

.importPasswordsButton:hover {
  background: black;
  border: 1px solid var(--primary);
}

.importPasswordsButton:hover mat-icon {
  color: var(--primary) !important;
}

.importPasswordsButton:hover span {
  color: var(--primary);
}

.addPasswordButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
  margin: 0 0 0 10px;
  width: 130px;
  height: 37px;
  font-weight: 500;
  font-size: 0.85em;
  border-radius: var(--radius-sm);
  background: var(--white);
  border: 1px solid transparent;
  transition: 0.25s all linear;
}

.addPasswordButton span {
  transition: 0.25s all linear;
  color: var(--black-soft);
}

.addPasswordButton span:nth-child(2) {
  font-size: 1.5em;
}

.addPasswordButton:hover {
  background: black;
  border: 1px solid var(--primary);
}

.addPasswordButton:hover span {
  color: var(--primary);
}

.table__container {
  display: flex;
  flex: 1;
  height: auto;
  margin: 30px 0 30px 0;
  padding: 0;
  border: 3px solid var(--light-border);
  border-radius: var(--radius-md);
  background: var(--black);
}

.table__passwords {
  margin: 0!important;
  padding: 0!important;
  cursor: pointer;
}

.table__passwords fa-icon{
  font-size: 1.6em!important;
}

.table__passwords .mat-mdc-header-row {
  padding: 0 90px;
  background: var(--active-background2);
  height: 40px;
}

.table__passwords tr {
  padding: 0 30px;
}

.table__passwords tr mat-icon {
  font-size: 1.2em!important;
  color: var(--dimmed)!important;
}

.table__passwords__mat-cell {
  display: flex;
  align-items: center;
  fa-icon {
    width: 45px;
    color: var(--dimmed)!important;
  }
}

.container th, .container td {
  padding: 2px 30px;
  border-bottom: 1px solid var(--light-border);
  color: var(--dimmed);
}

.table__passwords__span {
  padding: 6px;
  margin-right: 8px;
  background: var(--active-background3);
  border-radius: var(--radius-sm);
  font-size: 0.85em;
}

.table__passwords tr:hover {
  transition: all 0.25s linear;
  background: var(--active-background3);
}

.table__passwords tr:hover mat-icon {
  transition: all 0.25s linear;
  color: var(--white)!important;
}

.table__passwords tr:hover fa-icon {
  transition: all 0.25s linear;
  color: var(--white)!important;
}

.table__passwords tr:hover td {
  transition: all 0.25s linear;
  color: var(--white);
}

.table__passwords tr:hover .table__passwords__span {
  transition: all 0.25s linear;
  background: black;
}

.mat-column-favorite {
  padding: 2px 0 2px 15px !important;
}

.mat-column-application {
  padding: 2px 30px 0 0 !important;
}

.last-column {
  justify-content: flex-end;
}

.container__title span {
  font-size: 0.6em;
  color: var(--dimmed);
}

.selected:hover{
  border-radius: var(--radius-lg) !important;
  background: var(--active-background3)!important;
  transition: 0.35s all linear!important;
}

.copyPasswordButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent!important;
  outline: none!important;
  box-shadow: none!important;
  border: none;
  cursor: pointer;
}

.copyPasswordButton mat-icon {
  background: transparent!important;
  color: var(--dimmed) !important;
  font-size: 1.2em!important;
}

.blank{
  height: 1px;
  background: transparent;
  color: transparent;
}