@import "../../../../../../theme";

:host {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  overflow-y: scroll;
  // padding: 1.3% 0 1.3% 1.3%;
  // margin-bottom: 25%!important;
  background: $darkerBg;
  // border-right: 1px solid $lightBorder; // rgba(22, 22, 22, 1);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 3% 0 3% 7%;
  width: 93%;
}

.container__passwordsNumber {
  margin: 1% 0 0 0;
  padding: 0;
  color: $dimmed;
  font-size: 0.8em;
  display: none;
  // background: blue;
}

.container__title {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 1.3em;
  display: none;
  // background: red;
}

.container__title span {
  font-size: 0.6em;
  color: $dimmed;
}

.container__sortOptions {
  display: flex!important;
  flex-direction: row!important;
  align-items: center!important;
  justify-content: center!important;
  //margin: 30px 0 0 0;
  margin: 10px 0 0 -7.3%;
  padding: 0 0 30px 8%;
  border-bottom: 1px solid $lightBorder;

}

.container__sortOptions mat-icon {
  align-self: center;
  font-size: 1.1em!important;
  margin: 0 8px 0 0!important;
}

.container__sortOptions h3{
  align-self: center;
  font-size: 1em!important;
  margin: 0 12px 0 0!important;
}

.container__sortOptions mat-chip-option {
  padding: 1px;
  margin: 0 12px 0 0;
  background: transparent;
  border: 1px solid $lightBorder;
  font-size: 0.8em;
  color: $lightText;
}

.mat-mdc-chip-selected {
  // background: $accent!important;
  border: 1px solid $accent!important;
  color: $accent!important;

}

::ng-deep .no-line .mdc-line-ripple {
  display: none;
}

.container__passwords-list {
  margin: 5% 7% 7% 0;
}

.container__passwords-list mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 12px 0;
  margin: 0 0 5px 0;
  border: 1px solid transparent;
  transition: 0.35s all linear;
}

.container__passwords-list mat-list-item:hover .listIcon{
  // background: $darkBg;
}

.container__passwords-list mat-list-item .listIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  // background: $darkContext;
  // border: 1px solid $lightBorder;
  padding: 4px!important;
  font-size: 1.6em!important;
  border-radius: 10px;
  transition: 1s all linear;
}

.listIcon fa-icon {
  color: $dimmed !important;
}

.container__passwords-list mat-list-item matListItemTitle {
  margin: 0 0 0 20px;
}

.container__passwords-list mat-list-item div h4 {
  font-size: 0.95em;
  margin: 0;
}

.container__passwords-list mat-list-item div span {
  font-size: 0.8em;
  color: $dimmed;
}

.container__passwords-list mat-list-item .more {
  color: $lightText;
}

mat-list-item.selected {
  border-radius: 60px;
  // border: 1px solid $lightBorder!important;
  background: $activeBg;
  transition: 0.35s all linear;
}

.container__passwords-list mat-list-item:hover {
  background: $darkBg;
  border: 1px solid $lightBorder!important;
  border-radius: 100px;
}

.copyPasswordButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent!important;
  outline: none!important;
  box-shadow: none!important;
  border: none;
  cursor: pointer;
}

.copyPasswordButton mat-icon {
  background: transparent!important;
  color: $dimmed !important;
  font-size: 1.2em!important;
}