@import "../../../../../../theme";

:host {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 95%;
  overflow-y: scroll;
  // padding: 1.3% 0 1.3% 1.3%;
  // margin-bottom: 25%!important;
  // background: red;
  // border-right: 1px solid $lightBorder; // rgba(22, 22, 22, 1);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 3% 0 3% 7%;
  width: 93%;
}

.container__passwordsNumber {
  margin: 3.5% 0 0 0;
  padding: 0;
  color: $unfocusedIcon;
  font-size: 0.8em;
  // background: blue;
}

.container__title {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 1.3em;
  // background: red;
}

.container__sortOptions {
  margin: 30px 0 0 0;
  padding-left: 5px;
}

.container__sortOptions span {
  font-size: 0.9em!important;
  margin: 4px 7px 0 5px!important;
}

.container__sortOptions mat-chip-option {
  padding: 0;
  margin: 0 6px 0 0;
  background: $darkContext;
  font-size: 0.8em;
}

.mat-mdc-chip-selected {
  background: $accent!important;
  color: $lightText!important;
}

::ng-deep .no-line .mdc-line-ripple {
  display: none;
}

.container__passwords-list {
  margin: 7% 7% 7% 0;
}

.container__passwords-list mat-list-item {
  padding: 12px 0 12px 0;
  margin: 0 0 5px 0;
  border-radius: 10px;
  transition: 0.2s all linear;
}

.container__passwords-list mat-list-item:hover mat-icon{
  background: $lightBorder;
  transition: 0.2s all linear;
}

.container__passwords-list mat-list-item mat-icon{
  background: $darkContext;
  margin: 0 0 0 15px!important;
  padding: 12px!important;
  border-radius: 10px;
}

.container__passwords-list mat-list-item div {
  margin: 0 0 0 20px;
}

.container__passwords-list mat-list-item div h4 {
  font-size: 0.92em;
  margin: 0;
}

.container__passwords-list mat-list-item div span {
  font-size: 0.8em;
  color: $unfocusedIcon;
}

.container__passwords-list mat-list-item .more {
  color: $lightText;
}

.selected {
  background-color: $accent!important;
  transition: 0.15s all linear;
}

.container__passwords-list mat-list-item:hover {
  background: $darkContext;
}

.copyPasswordButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent!important;
  outline: none!important;
  box-shadow: none!important;
  border: none;
  cursor: pointer;
}

.copyPasswordButton mat-icon {
  background: transparent!important;
  color: $unfocusedIcon!important;
}