:host {
  display: flex;
  align-self: center;
  width: 65%;
  margin-top: 12%;
}

.welcome {
  font-size: 1.4em;
  font-weight: bold;
}

.subtitle {
  margin-top: 10px;
  font-size: 0.8em;
  padding-bottom: 15%;
  margin-bottom: 5%;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: normal;
}

.formGroup {
  display: flex;
  flex-direction: column;
  flex:1;
}

.formGroup Label {
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 0.9em;
}

:host input {
  border-radius: 25px;
  height: 40px;
  background: var(--active-background2);
  color: var(--white);
  text-indent: 13px;
  border: 1px solid rgb(47, 47, 53);
}

input::placeholder {
  font-size: 0.9em;
  color: var(--dimmed);
}

:host input:focus {
  outline: 4px solid rgba(60, 59, 255, 0.1);
  border: 1px solid rgba(60, 59, 255, 0.4);
}

input::-ms-reveal {
  filter: invert(100%);
  margin-right: 10px;
}

.passwordTip {
  width: 100%;
  text-align: right;
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: normal;
  color: rgb(27, 117, 218)
}

.formGroup-button {
  margin-top: 12%;
  border-radius: 25px;
  height: 40px;
  background: rgb(27, 117, 218);
  color: white;
  border: none;
  font-weight: normal;
}

.switchForm {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.switchForm h1 {
  font-size: 0.9em;
  font-weight: normal;
}

.switchForm a {
  margin-left: 4px;
  margin-bottom: -1px;
  background: none;
  border: none;
  color: rgb(27, 117, 218);
  font-weight: normal;
  text-decoration: none;
}