:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4% 0 4%;
  width: 32%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 12%;
}

mat-icon.logo-image {
  font-size: 2.5em!important;
}

.logo-typo {
  margin-left: 10px;
  font-size: 1.1em;
}

.login-title {
  margin-top: 50px;
  font-size: 0.9em;
  opacity: 0.5;
}

.slogan {
  margin-top: 40px;
  font-size: 1.4em;
  font-weight: bold;
  width: 60%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  padding-top: 5%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  //background: red;
}

.formGroup-NameAndUserName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
}

.formGroup-NameAndUserName div {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.nameAndUserName-name {
  margin-left: 5%;
  width: 42.5%;
}

.formGroup Label {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 0.9em;
  opacity: 0.5;
}

:host input {
  border-radius: 100px;
  height: 40px;
  background: rgb(47, 47, 53);
  color: rgb(240,240,240);
  text-indent: 13px;
  border: none;
}

.passwordTip {
  width: 100%;
  text-align: right;
  margin-top: 15px;
  font-size: 0.8em;
  opacity: 0.5;
}

.formGroup-button {
  margin-top: 12%;
  border-radius: 100px;
  height: 40px;
  background: rgb(60, 59, 255);
  color: white;
  border: none;
  font-weight: bold;
}

.switchForm {
  margin-top: 20px;
  margin-bottom: 16%;
  display: flex;
  align-items: center;

}

.switchForm h1 {
  font-size: 0.9em;
  opacity: 0.5;
  font-weight: normal;
}

.switchForm button {
  background: none;
  border: none;
  color: rgb(60, 59, 255);
  font-weight: 500;
}
