<div class="logo">
   <mat-icon class="logo-image">shield</mat-icon>
   <h1 class="logo-typo">Keytracker</h1>
</div>

<h1 class="login-title">{{title}}</h1>

<p class="slogan">
    Bem vindo de volta!
</p>

<div class="formGroup">

    <div class="formGroup-NameAndUserName">
        <div [style.width]= "isLogin ? '100%' : '42.5%' " class="nameAndUserName-username">
            <label for="username">Usuário</label>
            <input [(ngModel)]="username" id="username">
        </div>
        <div *ngIf="!isLogin" class="nameAndUserName-name">
            <label for="name">Nome</label>
            <input [(ngModel)]="name" id="name">
        </div>
    </div>


    <label for="masterPassword">Senha</label>
    <input [(ngModel)]="masterPassword" id="masterPassword">

    <h1 class="passwordTip">{{passwordTip}}</h1>

    <button color="primary" class="formGroup-button" (click)="callMethod()">{{formGroupButtonText}}</button>

    <div class="switchForm">
        <h1 class="switchForm-title">{{switchFormTitle}}</h1>
        <button color="primary" class="switchForm-button" (click)="callComponent()">{{switchFormButton}}</button>
    </div>

</div>



