@import "../../../../../../theme";

:host {
  display: flex;
  flex-direction: column;
  width: 58%;
  height: 96%;
  padding: 1.3% 1.3% 1.3% 1.3%;
  // box-shadow: black 0 0 3px 0;
  background: $darkBg;
  border-left: 1px solid $lightBorder;
  overflow-y: scroll;
}

.container {
  margin: 2% 15% 0 15%;
}

.application {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid $lightBorder;
  margin-top: 30px;
  // background: red;
}

.application mat-icon:first-child {
  font-size: 1.3em!important;
  padding: 20px!important;
  background: $activeBg;
  border: 1px solid $lighterBorder;
  border-radius: 10px;
}

.application div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background: blue;
  margin: 0 0 0 25px;
}

.application div span {
  font-size: 0.8em;
  color: $dimmed;
}

.application div h3, input {
  margin-top: 5px;
  font-size: 1.5em;
  background: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  text-indent: 0;
}

input {
  font-size: 1.2em;
  padding: 0;
  margin: 12px 0 0 0;
}

.application input {
  margin-top: 5px;
  font-size: 1.5em;
}

.application button {
  margin-left: auto!important;
}

.application button mat-icon {
  font-size: 1.7em!important;
  // color: $primary!important;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  margin-top: 10px;
}

.details:nth-child(1) {
  margin-top: 40px;
}

.focused {
  background: $activeBg;
  border: 1px solid $lighterBorder!important;
  border-radius: 20px;
}

.details span {
  font-size: 0.95em;
  color: $dimmed;
  font-weight: 500;
}

.details h3 {
  margin-top: 12px;
  font-size: 1.2em;
  font-weight: 500;
}

.password {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.password div:nth-child(1) {
  display: flex;
  flex-direction: column;
  // background: red;
}

.password div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password div:nth-child(2) button mat-icon {
  font-size: 1.6em!important;
  color: $dimmed!important;
}

.password div:nth-child(2) button:nth-child(2) mat-icon {
  margin-left: 18px!important;
  color: $dimmed!important;
}

.toggleShowButton, .copyPasswordButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent!important;
  outline: none!important;
  box-shadow: none!important;
  border: none;
  cursor: pointer;
}

.copyPasswordButton {
  position: relative;
}

.copyPasswordButton:before {
  position: absolute;
  top: -60px;
  right: -23px;
  padding: 10px 12px;
  background: $activeBg;
  color: $lightText;
  font-weight: bold;
  border-radius: 100px;
  content: "Copiado!";
  font-size: 0.9em;
  display: none;
  z-index: 1;
}

.copyPasswordButton:after {
  content: "";
  position: absolute;
  top: -31px;
  right: 8px;
  padding: 5px;
  background: $activeBg;
  transform: rotate(45deg);
  display: none;
  z-index: 0;
}

.copyPasswordButton.active:before, .copyPasswordButton.active:after {
  display: block;
}

.tags {
  border-top: 1px solid $lighterBorder;
  padding: 30px 20px 20px 20px;
  transition: all 1s linear;
}

.tags mat-chip-grid {
  margin-top: 20px;
}

.tags mat-chip-row {
  padding: 12px 12px;
  margin: 0 0 0 12px;
  background: transparent;
  border: 1px solid $lighterBorder;
  border-radius: $radiusMd;
  font-size: 0.8em;
  color: $lightText;
  transition: all 0.3s linear;
}

.selectBtn {
  all: unset;
  height: 100%;
  // padding-right: 5px;
  margin-right: 5px;
  // border-right: 1px solid transparent;
}

.tags mat-chip-row mat-icon {
  padding: 0!important;
  margin: 2px 0 0 0!important;
  // background: red!important;
}

.tags mat-chip-grid input {
  font-size: 0.9em;
  margin: 0 0 1px 12px;
}

.tags mat-chip-grid input::placeholder {
  color: $dimmed;
}

.toRemove{
  border: 1px solid rgb(160, 90, 85)!important;
}

.toRemove .selectBtn {
  border-right: 1px solid rgb(160, 90, 85)!important;
}

.keep {
  border-color: $accent!important;
  color: $primary!important;
}

.keep .selectBtn {
  border-right: 1px solid $accent;
}

.notes {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid $lighterBorder;
  border-bottom: 1px solid $lightBorder;
  height: auto;
}

.notes textarea, p {
  margin-top: 12px;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.2em;
  color: $lightText;
}

.notes textarea {
  margin-top: 15px;
  margin-left: 0;
  resize: none;
}

.disabled {
  display: none;
}

.actions {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // background: red;
  padding-left: 10px;
  //justify-content: flex-end;
}

.edit, .delete {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-left: 10px!important;
  font-size: 0.8em;
  background: $activeBg;
  padding: 0px 0!important;
  border: 1px solid $lighterBorder!important;
  border-radius: $radiusMd;
  transition: 0.2s all linear;
}

.editBtn, .deleteBtn {
  padding: 0!important;
  box-shadow: none;
  border: none;
  width: 0!important;
}

.selected {
  // background: $activeBg2;
  // border: 1px solid $buttonBorder!important;
}

.selected mat-icon {
  color: $activeContent!important;
}

.actions mat-icon {
  font-size: 1.4em!important;
  // margin-right: 6px!important;
}

.actions div span, h3 {
  color: $lightText;
  padding: 0;
  margin-left: 6px!important;
  // display: none;
}

.update {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 0.8em;
  padding: 4px 0 !important;
  border-radius: $radiusMd;
  justify-content: center;
  background: $activeBg2;
  border: 1px solid $buttonBorder!important;
  transition: all 0.3s linear;
  margin-left: 10px;
}

.update button {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 25px 0!important;
  // background: $accent;
  border-radius: 10px;
  margin: 0;
  transition: all 0.3s linear;
}

.update button mat-icon {
  font-size: 1.7em!important;
  color: $primary!important;
  margin-right: 6px!important;
  display: none;
}

.update button span {
  font-size: 1.1em!important;
  font-weight: bold;
  color: $lightText!important;
  padding: 0;
  margin: 0;
}