@import "../../../../../../theme";

:host {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 96%;
  padding: 1.3% 1.3% 1.3% 1.3%;
  box-shadow: black 0 0 3px 0;
  // background: black;
}

.container {
  margin: 2% 15% 0 15%;
}

.edit-delete {
  display: flex;
  justify-content: flex-end;
}

.edit, .delete, .update {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  padding: 0 4px 0 4px;
  background: $darkContext;
  margin-left: 10px!important;
  border-radius: 6px;
  transition: 0.1s all linear;
}

.selected {
  background: $accent;
}

.edit-delete mat-icon {
  font-size: 1.25em!important;
  margin-right: 6px!important;
}

.edit-delete div span, h3 {
  padding: 0;
  margin: 0;
}

.application {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid $lightBorder;
  margin-top: 40px;
  // background: red;
}

.application mat-icon:first-child {
  font-size: 1.3em!important;
  padding: 20px!important;
  background: $darkContext;
  border-radius: 10px;
}

.application div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background: blue;
  margin: 0 0 0 25px;
}

.application div span {
  font-size: 0.8em;
  color: $unfocusedIcon;
}

.application div h3, input {
  margin-top: 5px;
  font-size: 1.5em;
  background: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  text-indent: 0;
}

input {
  font-size: 1.2em;
  padding: 0;
  margin: 12px 0 0 0;
  // color: $unfocusedIcon;
  // font-style: italic;
}

.application input {
  margin-top: 5px;
  font-size: 1.5em;
}

.application mat-icon:nth-child(3) {
  color: yellow!important;
  margin-left: auto!important;
  font-size: 1.5em!important;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
}

.details:nth-child(1) {
  margin-top: 40px;
}

.focused {
  background: $darkContext;
  border-radius: 10px;
}

.details span {
  font-size: 0.95em;
  color: $unfocusedIcon;
  font-weight: 500;
}

.details h3 {
  margin-top: 12px;
  font-size: 1.2em;
  font-weight: 500;
}

.password {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.password div:nth-child(1) {
  display: flex;
  flex-direction: column;
  // background: red;
}

.password div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password div:nth-child(2) button mat-icon {
  font-size: 1.6em!important;
}

.password div:nth-child(2) button:nth-child(2) mat-icon {
  margin-left: 18px!important;
}

.toggleShowButton, .copyPasswordButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent!important;
  outline: none!important;
  box-shadow: none!important;
  border: none;
  cursor: pointer;
}

.notes {
  padding-top: 40px;
  border-top: 1px solid $lightBorder;
  height: auto;
}

.notes textarea {
  margin-top: 12px;
  background: transparent;
  border: none;
  font-size: 1.2em;
  color: $lightText;
  height: auto;
}

.update {
  margin-top: 40px;
  justify-content: flex-end;
  background: transparent;
}

.update button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px!important;
  background: $accent;
  border-radius: 10px;
  margin: 0;
}

.update button mat-icon {
  font-size: 1.7em!important;
  margin-right: 6px!important;
}

.update button span {
  font-size: 1em!important;
  font-weight: bold;
  padding: 0;
  margin: 0;
}