<div class='container' *ngIf='password$ | async as password'>

  <div class='application'>
    <mat-icon>vpn_key</mat-icon>
    <div>
      <span>Aplicação</span>
      <input [disabled]='!editing' type='text' [value]='password.application' #application >
    </div>
    <button [disabled]='!editing' mat-button (click)='toggleFavorite()'>
      <mat-icon *ngIf='!favorite'>star_outline</mat-icon>
      <mat-icon *ngIf='favorite'>star</mat-icon>
    </button>

  </div>

  <div class='details username'>
    <span>Usuário</span>
    <input [disabled]='!editing' type='text' [value]='password.username' #username>
  </div>

  <div class='details password focused'>
    <div>
      <span>Senha</span>
      <input [disabled]='!editing' type='text' [value]='isPasswordVisible ? password.passphrase : "*".repeat(password.passphrase.length)' #passphrase>
    </div>
    <div>
      <button class='toggleShowButton' (click)='toggleShow()' title="Title"><mat-icon>visibility</mat-icon></button>
      <button class='copyPasswordButton' (click)='copyPassword(copyPasswordButton)' title="Title" #copyPasswordButton><mat-icon>content_copy</mat-icon></button>
    </div>

  </div>

  <div class='details website'>
    <span>Website</span>
    <input [disabled]='!editing' type='text' [value]='password.website' #website>
  </div>

  <div class='details tags'>
    <span>Tags</span>
    <mat-chip-grid #chipGrid aria-label="Digite uma tag">
      <mat-chip-row
        *ngFor="let tag of temporaryTags">
        <button class='selectBtn' mat-button *ngIf='editing' [attr.aria-label]="'remove ' + tag" (click)='removeTag(tag)'>
          <mat-icon>close</mat-icon>
        </button>
        <span>{{tag}}</span>
      </mat-chip-row>
      <input *ngIf='editing' placeholder="Digite a nova tag e pressione enter..."
             [matChipInputFor]="chipGrid"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-grid>
  </div>

  <div class='details notes'>
    <span>Notas Adicionais</span>
<!--    <input [disabled]='!editing' [value]='password.notes' #notes>-->
    <textarea [disabled]='!editing' [value]='password.notes' rows='3' #notes></textarea>
  </div>

  <div class='actions'>



    <div class='edit' [ngClass]="{'selected': editing}">
      <button class='editBtn' mat-button (click)='toggleEdit()'>
        <mat-icon>edit</mat-icon>
<!--        <span>Editar</span>-->
      </button>
    </div>

    <div *ngIf='editing' class='update'>
      <button type='submit' mat-button (click)='updatePassword(
      password,
      application.value,
      username.value,
      passphrase.value === "*******" ? password.passphrase : passphrase.value,
      website.value,
      temporaryTags,
      favorite,
      notes.value
    )'
      >
        <mat-icon>done</mat-icon>
        <span>Atualizar</span>
      </button>
    </div>

    <div class='delete'>
      <button class='deleteBtn' mat-button (click)='deletePassword(password.id)'>
        <mat-icon>delete</mat-icon>
      </button>
    </div>

  </div>
</div>


