<div class='container' *ngIf='selectedPassword$ | async as password$'>
  <div class='edit-delete'>
    <div class='edit' [ngClass]="{'selected': editing}">
      <button class='editBtn' mat-button (click)='toggleEdit()'>
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
    </div>
    <div class='delete'>
      <button class='deleteBtn' mat-button (click)='deletePassword(password$.id)'>
        <mat-icon>delete</mat-icon>
        <span>Deletar</span>
      </button>
    </div>
  </div>

  <div class='application'>
    <mat-icon>vpn_key</mat-icon>
    <div>
      <span>Aplicação</span>
      <input [disabled]='!editing' type='text' [value]='password$.application' #application >
    </div>
    <mat-icon>star_outline</mat-icon>
  </div>

  <div class='details username'>
    <span>Usuário</span>
    <input [disabled]='!editing' type='text' [value]='password$.username' #username>
  </div>

  <div class='details password focused'>
    <div>
      <span>Senha</span>
      <input [disabled]='!editing' type='text' [value]='show ? password$.passphrase : "*".repeat(password$.passphrase.length)' #passphrase>
    </div>
    <div>
      <button class='toggleShowButton' (click)='toggleShow()' title="Title"><mat-icon>visibility</mat-icon></button>
      <button class='copyPasswordButton' (click)='copyPassword(password$.passphrase)' title="Title"><mat-icon>content_copy</mat-icon></button>
    </div>

  </div>

  <div class='details website'>
    <span>Website</span>
    <input [disabled]='!editing' type='text' [value]='password$.website' #website>
  </div>

  <div class='details notes'>
    <span>Notas Adicionais</span>
    <textarea [disabled]='!editing' #notes>{{password$.notes}}</textarea>
  </div>

  <div class='update'>
    <button type='submit' mat-button (click)='updatePassword(
      application.value,
      username.value,
      passphrase.value === "*******" ? password$.passphrase : passphrase.value,
      website.value,
      notes.value
    )'
    >
      <mat-icon>done</mat-icon>
      <span>Atualizar</span>
    </button>
  </div>

</div>