<div class='container' *ngIf='selectedPassword$ | async as password$'>
  <div class='edit-delete'>
    <div class='edit'>
      <button class='editBtn' mat-button>
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
    </div>
    <div class='delete'>
      <button class='deleteBtn' mat-button (click)='deletePassword(password$.id)'>
        <mat-icon>delete</mat-icon>
        <span>Deletar</span>
      </button>
    </div>
  </div>

  <div class='application'>
    <mat-icon>vpn_key</mat-icon>
    <div>
      <span>Aplicação</span>
      <h3>{{password$.application}}</h3>
    </div>
    <mat-icon>star_outline</mat-icon>
  </div>

  <div class='details username'>
    <span>Usuário</span>
    <h3>{{password$.username}}</h3>
  </div>

  <div class='details password focused'>
    <div>
      <span>Senha</span>
      <h3>{{show ? password$.passphrase : "********"}}</h3>
    </div>
    <div>
      <button class='toggleShowButton' (click)='toogleShow()'><mat-icon>visibility</mat-icon></button>
      <button class='copyPasswordButton' (click)='copyPassword(password$.passphrase)'><mat-icon>content_copy</mat-icon></button>
    </div>

  </div>

  <div class='details website'>
    <span>Website</span>
    <h3>{{password$.website}}</h3>
  </div>

  <div class='details notes'>
    <span>Notas Adicionais</span>
    <h3>{{password$.notes}}</h3>
  </div>
</div>