@import "../../../../../../theme";

:host {
  display: flex;
  flex-direction: column;
  width: 58%;
  height: 96%;
  padding: 1.3% 1.3% 1.3% 1.3%;
  // box-shadow: black 0 0 3px 0;
  background: $darkBg;
  overflow-y: scroll;
}

.container {
  margin: 2% 15% 0 15%;
}

.edit-delete {
  display: flex;
  justify-content: flex-end;
}

.edit, .delete, .update {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  padding: 0 4px 0 4px;
  background: $darkerContext;
  border: 1px solid $lighterBorder!important;
  border-radius: 100px;
  margin-left: 10px!important;
  transition: 0.1s all linear;
}

.selected {
  background: $activeBg;
}

.edit-delete mat-icon {
  font-size: 1.25em!important;
  margin-right: 6px!important;
}

.edit-delete div span, h3 {
  color: $lightText;
  padding: 0;
  margin: 0;
}

.application {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid $lighterBorder;
  margin-top: 30px;
  // background: red;
}

.application mat-icon:first-child {
  font-size: 1.3em!important;
  padding: 20px!important;
  background: $darkerContext;
  border: 1px solid $lighterBorder;
  border-radius: 10px;
}

.application div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background: blue;
  margin: 0 0 0 25px;
}

.application div span {
  font-size: 0.8em;
  color: $dimmed;
}

.application div h3, input {
  margin-top: 5px;
  font-size: 1.5em;
  background: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  text-indent: 0;
}

input {
  font-size: 1.2em;
  padding: 0;
  margin: 12px 0 0 0;
}

.application input {
  margin-top: 5px;
  font-size: 1.5em;
}

.application button {
  margin-left: auto!important;
}

.application button mat-icon {
  font-size: 1.7em!important;
  // color: $primary!important;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  margin-top: 10px;
}

.details:nth-child(1) {
  margin-top: 40px;
}

.focused {
  background: $darkerContext;
  border: 1px solid $lighterBorder!important;
  border-radius: 20px;
}

.details span {
  font-size: 0.95em;
  color: $dimmed;
  font-weight: 500;
}

.details h3 {
  margin-top: 12px;
  font-size: 1.2em;
  font-weight: 500;
}

.password {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.password div:nth-child(1) {
  display: flex;
  flex-direction: column;
  // background: red;
}

.password div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password div:nth-child(2) button mat-icon {
  font-size: 1.6em!important;
  color: $dimmed!important;
}

.password div:nth-child(2) button:nth-child(2) mat-icon {
  margin-left: 18px!important;
  color: $dimmed!important;
}

.toggleShowButton, .copyPasswordButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent!important;
  outline: none!important;
  box-shadow: none!important;
  border: none;
  cursor: pointer;
}

.tags {
  // background: red;

  border-top: 1px solid $lighterBorder;
  padding: 30px 20px 20px 20px;
  transition: all 1s linear;
}

.tags mat-chip-grid {
  margin-top: 20px;
}

.tags mat-chip-row {
  padding: 8px 0 8px 0;
  margin: 0 0 0 12px;
  background: transparent;
  border: 1px solid $lighterBorder;
  border-radius: 100px;
  font-size: 0.8em;
  color: $lightText;
  transition: all 0.3s linear;
}

.selectBtn {
  all: unset;
  height: 100%;
  // padding-right: 5px;
  margin-right: 5px;
  // border-right: 1px solid transparent;
}

.tags mat-chip-row mat-icon {
  padding: 0!important;
  margin: 2px 0 0 0!important;
  // background: red!important;
}

.tags mat-chip-grid input {
  font-size: 0.9em;
  margin: 0 0 1px 12px;
}

.toRemove{
  border: 1px solid rgb(160, 90, 85)!important;
}

.toRemove .selectBtn {
  border-right: 1px solid rgb(160, 90, 85)!important;
}

.keep {
  border-color: $accent!important;
  color: $primary!important;
}

.keep .selectBtn {
  border-right: 1px solid $accent;
}

.notes {
  padding-top: 40px;
  border-top: 1px solid $lighterBorder;
  height: auto;
}

.notes textarea, p {
  margin-top: 12px;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.2em;
  color: $lightText;
}

.notes textarea {
  margin-top: 15px;
  margin-left: 0;
  resize: none;
}

.disabled {
  display: none;
}

.update {
  margin-top: 40px;
  justify-content: center;
  background: transparent;
  border: 1px solid $primary!important;
  transition: all 0.3s linear;
}

.update button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px!important;
  // background: $accent;
  border-radius: 10px;
  margin: 0;
  transition: all 0.3s linear;
}

.update button mat-icon {
  font-size: 1.7em!important;
  color: $primary!important;
  margin-right: 6px!important;
}

.update button span {
  font-size: 1.1em!important;
  font-weight: bold;
  color: $primary!important;
  padding: 0;
  margin: 0;
}