:host {
  display: flex;
  flex-direction: column;
  width: 58%;
  height: 96%;
  padding: 1.3%;
  background: var(--black);
  border-left: 1px solid var(--lightBorder);
  overflow-y: scroll;
}

.container {
  margin: 2% 15% 0 15%;
}

.application {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--lightBorder);
  margin-top: 30px;
}

.application mat-icon:first-child {
  font-size: 1.3em!important;
  padding: 20px!important;
  background: var(--activeBackground);
  border: 1px solid var(--lighterBorder);
  border-radius: 10px;
}

.application div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
}

.application div span {
  font-size: 0.8em;
  color: var(--dimmed);
}

.application div h3, input {
  margin-top: 5px;
  font-size: 1.5em;
  background: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  text-indent: 0;
}

input {
  font-size: 1.2em;
  padding: 0;
  margin-top: 12px;
}

.application input {
  margin-top: 5px;
  font-size: 1.5em;
}

.application button {
  margin-left: auto;
}

.application button mat-icon {
  font-size: 1.7em!important;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  margin-top: 10px;
}

.details:nth-child(1) {
  margin-top: 40px;
}

.focused {
  background: var(--activeBackground);
  border: 1px solid var(--lighterBorder)!important;
  border-radius: var(--radiusLg);
}

.details span {
  font-size: 0.95em;
  color: var(--dimmed);
}

.details h3 {
  margin-top: 12px;
  font-size: 1.2em;
}

.password {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.password div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.password div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password div:nth-child(2) button mat-icon {
  font-size: 1.6em!important;
  color: var(--dimmed)!important;
}

.password div:nth-child(2) button:nth-child(2) mat-icon {
  margin-left: 18px!important;
  color: var(--dimmed)!important;
}

.toggleShowButton, .copyPasswordButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent!important;
  outline: none!important;
  box-shadow: none!important;
  border: none;
  cursor: pointer;
}

.copyPasswordButton {
  position: relative;
}

.copyPasswordButton:before {
  position: absolute;
  top: -60px;
  right: -23px;
  padding: 10px 12px;
  background: var(--activeBackground);
  color: var(--white);
  font-weight: bold;
  border-radius: 100px;
  content: "Copiado!";
  font-size: 0.9em;
  display: none;
  z-index: 1;
}

.copyPasswordButton:after {
  content: "";
  position: absolute;
  top: -31px;
  right: 8px;
  padding: 5px;
  background: var(--activeBackground);
  transform: rotate(45deg);
  display: none;
  z-index: 0;
}

.copyPasswordButton.active:before, .copyPasswordButton.active:after {
  display: block;
}

.tags {
  border-top: 1px solid var(--lighterBorder);
  padding: 30px 20px;
  transition: all 1s linear;
}

.tags mat-chip-grid {
  margin-top: 20px;
}

.tags mat-chip-row {
  padding: 12px 12px;
  margin: 0 0 0 12px;
  background: transparent;
  border: 1px solid var(--lighterBorder);
  border-radius: var(--radiusMd);
  font-size: 0.8em;
  color: var(--white);
  transition: all 0.3s linear;
}

.selectBtn {
  all: unset;
  height: 100%;
  margin-right: 5px;
}

.tags mat-chip-row mat-icon {
  padding: 0!important;
  margin-top: 2px!important;
}

.tags mat-chip-grid input {
  font-size: 0.9em;
  margin: 0 0 1px 12px;
}

.tags mat-chip-grid input::placeholder {
  color: var(--dimmed);
}

.notes {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid var(--lighterBorder);
  border-bottom: 1px solid var(--lightBorder);
}

.notes textarea {
  margin-top: 15px;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.2em;
  color: var(--white);
  resize: none;
}

.actions {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 10px;
}

.edit, .delete {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-left: 10px!important;
  font-size: 0.8em;
  background: var(--activeBackground);
  padding: 0!important;
  border: 1px solid var(--lighterBorder)!important;
  border-radius: var(--radiusMd);
  transition: 0.2s all linear;
}

.editBtn, .deleteBtn {
  padding: 0!important;
  box-shadow: none;
  border: none;
  width: 0!important;
}

.selected mat-icon {
  color: var(--activeContent)!important;
}

.actions mat-icon {
  font-size: 1.4em!important;
}

.actions div span, h3 {
  color: var(--white);
  padding: 0;
  margin-left: 6px!important;
}

.update {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 0.8em;
  padding: 4px 0 !important;
  border-radius: var(--radiusMd);
  justify-content: center;
  background: var(--activeBackground)2;
  border: 1px solid var(--activeBorder)!important;
  transition: all 0.3s linear;
  margin-left: 10px;
}

.update button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0;
  transition: all 0.3s linear;
}

.update button mat-icon {
  font-size: 1.7em!important;
  color: var(--primary)!important;
  margin-right: 6px!important;
  display: none;
}

.update button span {
  font-size: 1.1em!important;
  font-weight: bold;
  color: var(--white)!important;
  padding: 0;
  margin: 0;
}