@import "theme.scss";

:host {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  // border-right: 1px solid $lightBorder; // rgba(22, 22, 22, 1);
  // border-top-right-radius: 20px;
  // border-bottom-right-radius: 20px;
  // box-shadow: black 0 0 3px 0;
  padding: 0;
  margin: 0 0 0 0!important;
  // background: $darkContext;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 8% 0 8% 0;
  padding: 0;
  width: 100%;
  height: 100%;
  //background: blue;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2% 0 0 7%;
}

.header mat-icon {
  color: $lightText!important;
  font-size: 1.7em!important;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 5% 0 0 2%;
  padding: 0; //4%;
  border-radius: 6px;
  // background: $darkBg;
  //border: 1px solid $primary;
}

.header h1 {
  font-weight: normal;
  font-size: 1.3em;
}

.header__typo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 5%;
}

.description {
  margin-top: 4px;
  font-size: 0.75em;
  color: $dimmed;
  display: none;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% 7% 0 7%;
  padding: 2% 0 2% 4%;
  flex-direction: row;
  width: 80%;
  // background: $darkerBg;
  background: $darkBg;
  border: 1px solid $lightBorder!important;
  border-radius: 100px;
}

.searchbar-icon {
  font-size: 1.4em!important;
  color: $dimmed;
  z-index: 20;
}
.searchbar-input {
  //text-indent: 20%;
  margin-left: 5%;
  width: 100%;
  height: 100%;
  color: $lightText;
  background: transparent;
  font-size: 0.9em;
  border: none;
  outline: none;
  z-index: 1;
}

.addPasswordButton{
  margin: auto 7% 0 7%!important;
  // background: $accent!important;
  font-weight: bold;
  font-size: 0.9em;
  padding: 20px!important;
  border-radius: 60px;
  border: 1px solid $primary;
  // display: none;
}

.addPasswordButton span {
  color: $primary!important;
}

.sidebar-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 9% 7% 2% 7%!important;
  width: 86%;
  align-items: center;
  // background: red;
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.user-profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile span {
  color: $lightText;
}