:host {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 92.5%;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.addPasswordButton{
  margin: auto 7% 0 7%!important;
  font-weight: bold;
  font-size: 0.9em;
  padding: 18px 0 !important;
  border-radius: var(--radius-md);
  background: var(--white) !important;
  border: 1px solid var(--active-border) !important;
  display: none;
}

.addPasswordButton span {
  color: var(--black-soft)!important;
}

