<div *ngIf='user$ | async as user' class='container'>
    <mat-toolbar class='header'>
        <div class='header-logo'>
            <mat-icon class='header-logo-icon'>fingerprint</mat-icon>
        </div>
        <div class='header__typo'>
            <h1 class='logotype'>Keytracker</h1>
            <span class='description'>Gerenciador de senhas</span>
        </div>

    </mat-toolbar>

    <div class="searchbar">
        <mat-icon class='searchbar-icon' matPrefix>search</mat-icon>
        <input class='searchbar-input' matInput placeholder="Pesquisar" (keyup.enter)="realizarPesquisa($event)" />
    </div>


    <app-navbar />

    <button mat-raised-button class='addPasswordButton' (click)='toggleNewPasswordForm()'><span>Nova Senha +</span></button>

    <app-new-password-form *ngIf='showPasswordFormFlag | async' />

    <mat-toolbar class='sidebar-footer' *ngIf='user'>
        <div class='user-profile'>
            <img src="assets/eu.jpg" alt="avatarImg"/>
            <span>{{user.name}}</span>
        </div>
        <mat-icon>settings</mat-icon>
    </mat-toolbar>
</div>
