:host {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3% 0 3% 3%;
  border-bottom: 1px solid var(--light-border);
}

.header mat-icon {
  color: var(--white)!important;
  font-size: 2em!important;
  padding: 10px 15px 10px 10px!important;
  // background: var(--activeBackground);
  // border: 1px solid var(--ultraDimmed)!important;
  border-radius: 10px;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 6px;
}

.header__typo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // margin: 0 0 0 5%;
}

.header__typo h1 {
  padding-left: 15px;
  font-weight: normal;
  font-size: 1.1em;
  color: var(--white);
  border-left: 1px solid var(--dimmed);
}

.description {
  margin-top: 4px;
  font-size: 0.65em;
  color: var(--dimmed);
  opacity: 0.5;
  text-transform: uppercase;
  display: none;
}

.addPasswordButton{
  margin: auto 7% 0 7%!important;
  font-weight: bold;
  font-size: 0.9em;
  padding: 18px 0 !important;
  border-radius: var(--radius-md);
  background: var(--white) !important;
  border: 1px solid var(--active-border) !important;
  display: none;
}

.addPasswordButton span {
  color: var(--black-soft)!important;
}

.sidebar-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: auto 7% 7% 7%!important;
  width: 86%;
  align-items: center;
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.user-profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile span {
  color: var(--white);
}