:host {
  position: absolute;
  top: 5%;
  left: 15%;
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 70%;
  background: var(--active-background);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--lighter-border);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 53%;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 8%;
}

mat-icon.logo-image {
  font-size: 2.2em !important;
}

.logo-typo {
  margin-left: 10px;
  font-size: 1.1em;
  display: none;
}


