:host {
  display: flex;
  flex-direction: column;
  height: 70px;
  border-bottom: 2px solid var(--light-border);
  // background: var(--black);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container__left {
  flex:1;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.container__right {
  flex: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
}

.container__left mat-icon {
  color: var(--font-color)!important;
  font-size: 2em!important;
  padding: 0 15px 0 0!important;
  border-radius: 10px;
}

.container__left__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 6px;
}

.container__left__typo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container__left__typo h1 {
  padding-left: 15px;
  font-weight: normal;
  font-size: 1.1em;
  color: var(--font-color);
  border-left: 1px solid var(--dimmed);
}

.description {
  margin-top: 4px;
  font-size: 0.65em;
  color: var(--dimmed);
  opacity: 0.5;
  text-transform: uppercase;
  display: none;
}

.container__notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border: 1px solid var(--lighter-border) !important;
  height: 36px !important;
  width: 36px !important;
  padding: 0!important;
  border-radius: 100px!important;
  outline: none;
  background: transparent;
  transition: all 0.25s linear;
}

.container__notifications mat-icon {
  color: var(--dimmed) !important;
  font-size: 1.2em !important;
  transition: all 0.25s linear;
}

.container__notifications:hover {
  border: 1px solid var(--font-color) !important;
}

.container__notifications:hover mat-icon {
  color: var(--font-color) !important;
}

.container__user {
  display: flex;
  flex: 0 0 2%;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.user-profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.user-profile span {
  color: var(--dimmed);
}

.container__theme {
  display: flex!important;
  flex-direction: row!important;
  align-items: center!important;
  justify-content: space-between!important;
  border: 1px solid var(--lighter-border)!important;
  border-radius: var(--radius-sm);
  padding: 3px;
  margin: 0 0 0 20px;
}

.container__theme mat-button-toggle {
  flex: 1;
  margin: 0!important;
  padding: 4px 2px 6px 2px !important;
  transition: all 0.2s linear;
}

.container__theme mat-button-toggle mat-icon {
  transition: all 0.2s linear;
  color: var(--dimmed)!important;
}

.container__theme mat-button-toggle.mat-button-toggle-checked {
  background: var(--active-background3)!important;
}

.container__theme mat-button-toggle.mat-button-toggle-checked mat-icon {
  color: var(--primary)!important;
}

.container__theme mat-button-toggle mat-icon:hover {
  color: var(--font-color)!important;
}