/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

:root {
  --primary: rgb(0, 127, 255);
  --accent: rgb(140, 164, 134);
  --black: rgb(27, 29, 34);
  --softBlack: rgb(36, 41, 46);
  --white: rgb(220,220,235);
  --activeContent: rgb(76, 147, 219);
  --activeBackground: rgb(31, 36, 41);
  --activeBackground2: rgb(22, 36, 50);
  --activeBorder: rgb(1, 58, 109);
  --dimmed: rgb(149, 155, 168);
  --ultraDimmed: rgb(42, 51, 60);
  --lightBorder: rgb(35, 42, 51);
  --lighterBorder: rgb(42, 51, 60);
  --radiusXl: 20px;
  --radiusLg: 16px;
  --radiusMd: 12px;
  --radiusSm: 8px;
}


html, body { height: 100%; width: 100% }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.95em;
  background: var(--black);
  overflow: hidden;
}

mat-icon {
  margin: 0!important;
  padding: 0!important;
  font-size: 1em!important;
  height: auto!important;
  width: auto!important;
  line-height: 1!important;
  color: var(--white)!important;
}

fa-icon {
  color: var(--white);
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6, p, a, label, input, textarea {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--white);
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 1px;
  height: 5px!important;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Estilo para navegadores baseados em Firefox */
/* Note que o Firefox não suporta a personalização total da barra de rolagem com CSS puro. */
/* As seguintes regras de estilo se aplicarão à barra de rolagem do Firefox apenas em sistemas macOS. */
/* Você pode ajustar esses valores conforme necessário. */
* {
  scrollbar-color: black black;
  scrollbar-width: thin;
}