/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

:root {
  --primary: rgb(0, 112, 243);
  --accent: rgb(140, 164, 134);
  --black: rgb(13, 13, 15);
  --black-soft: rgb(56, 56, 56);
  --white: rgb(255,255,255);
  --active-content: rgb(76, 147, 219);
  --active-background: rgb(21, 21, 21);
  --active-background2: rgb(25, 25, 25);
  --active-border: rgb(1, 58, 109);
  --dimmed: rgb(150, 150, 150);
  --ultra-dimmed: rgb(42, 51, 60);
  --light-border: rgb(30, 30, 30);
  --lighter-border: rgb(37, 37, 37);
  --radius-lg: 10px;
  --radius-md: 8px;
  --radius-sm: 6px;
}

html, body { height: 100%; width: 100% }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.95em;
  background: var(--black);
  overflow: hidden;
}

mat-icon {
  margin: 0!important;
  padding: 0!important;
  font-size: 1em!important;
  height: auto!important;
  width: auto!important;
  line-height: 1!important;
  color: var(--white)!important;
}

fa-icon {
  color: var(--white);
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6, p, a, label, input, textarea {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--white);
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 1px;
  height: 5px!important;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Estilo para navegadores baseados em Firefox */
/* Note que o Firefox não suporta a personalização total da barra de rolagem com CSS puro. */
/* As seguintes regras de estilo se aplicarão à barra de rolagem do Firefox apenas em sistemas macOS. */
/* Você pode ajustar esses valores conforme necessário. */
* {
  scrollbar-color: black black;
  scrollbar-width: thin;
}