/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

:root {
  --primary: rgb(124, 90, 187); //rgb(255, 96, 44);
  --accent: rgb(49, 59, 46);
  --accent2: rgb(48, 50, 73);
  --success: rgb(72, 115, 69);
  --error: rgb(200, 162, 158);
  --background: rgb(22, 22, 22);
  --background-soft: rgb(80, 80, 80);
  --font-color: rgb(255, 255, 255);
  --active-background: rgb(26, 26, 26);
  --active-background2: rgb(31, 31, 31);
  --active-background3: rgb(35, 35, 35);
  --active-border: rgb(1, 58, 109);
  --dimmed: rgb(150, 150, 150);
  --ultra-dimmed: rgb(42, 51, 60);
  --light-border: rgb(16, 16, 16); // rgb(35, 35, 35);
  --lightest-border: rgb(47, 47, 47);
  --lighter-border: rgb(40, 40, 40);
  --radius-lg: 10px;
  --radius-md: 8px;
  --radius-sm: 6px;
}

html, body {
  height: 100%;
  width: 100%
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.95em;
  background: var(--background);
  overflow: hidden;
}

mat-icon {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 1em !important;
  height: auto !important;
  width: auto !important;
  line-height: 1 !important;
  color: var(--font-color) !important;
}

fa-icon {
  color: var(--font-color);
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6, p, a, label, input, textarea {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--font-color);
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 1px;
  height: 5px !important;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Estilo para navegadores baseados em Firefox */
/* Note que o Firefox não suporta a personalização total da barra de rolagem com CSS puro. */
/* As seguintes regras de estilo se aplicarão à barra de rolagem do Firefox apenas em sistemas macOS. */
/* Você pode ajustar esses valores conforme necessário. */
* {
  scrollbar-color: black black;
  scrollbar-width: thin;
}