/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100% }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1em;
  background: rgb(30, 30, 35);
  overflow: hidden;
}

mat-icon {
  margin: 0!important;
  padding: 0!important;
  font-size: 1em!important;
  height: auto!important;
  width: auto!important;
  line-height: 1!important;
  color: rgba(120, 120, 120, 1)!important;
}

:root {
  --custom-primary: #2196F3; /* Azul */
  --custom-accent: #FF4081; /* Rosa */
  --custom-bgcolor: rgb(30, 30, 35); /* Cinza */
  --custom-txtcolor: rgb(230, 230, 230); /* Branco */
}

h1, h2, h3, h4, h5, h6, p, span, a {
  color: var(--custom-txtcolor);
}