/* You can add global styles to this file, and also import other style files */

@import "theme.scss";

html, body { height: 100%; width: 100% }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1em;
  background: $darkestBg;
  overflow: hidden;
}

mat-icon {
  margin: 0!important;
  padding: 0!important;
  font-size: 1em!important;
  height: auto!important;
  width: auto!important;
  line-height: 1!important;
  color: $lightIcon!important;
}

fa-icon {
  color: $lightIcon;
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6, p, span, a, label, input, textarea {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $lightText;
}

::-webkit-scrollbar {
  width: 1px;
  height: 5px!important;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Estilo para navegadores baseados em Firefox */
/* Note que o Firefox não suporta a personalização total da barra de rolagem com CSS puro. */
/* As seguintes regras de estilo se aplicarão à barra de rolagem do Firefox apenas em sistemas macOS. */
/* Você pode ajustar esses valores conforme necessário. */
* {
  scrollbar-color: black black;
  scrollbar-width: thin;
}